<h1>
  Outils demande de congés
</h1>
<div>
  <div><strong>Solde CP année N-1: </strong>{{currentUser.cpNMoins1}}</div>
  <div><strong>Solde CP année N: </strong>{{currentUser.cpN}}</div>
  <div><strong>Solde RTT (h): </strong>{{currentUser.rttn}}</div>
  <div><strong>Solde Ancienneté: </strong>{{currentUser.congeAnciennete}}</div>
</div>
<br>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    *ngIf="FicheEnvoyee != null"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-tab-group [selectedIndex]="dateNow.getMonth()">
  <mat-tab *ngFor="let mois of nomsDesMois"  [disabled]="disableTabs(nomsDesMois.indexOf(mois))" >

    <ng-template mat-tab-label>
     <span [matTooltip]="disableTabs(nomsDesMois.indexOf(mois))?'Ce mois est déjà passé':''">{{mois}} {{dateNow.getFullYear()}}</span>
    </ng-template>
    <ng-template matTabContent>
    <div style="justify-content: space-evenly;display: flex">
      <!--  <div style="border: 1px solid;width: 75vw;height: 60vh; text-align: left;" >
          <div style="border: 1px solid;width: 10vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine">{{d}}</div>
          <div style="border:0px solid;height: 10vh;width: 10vw;display: inline-block;" *ngFor="let i of creatArray(addCells())"></div>
          <div (mousedown)="addRemoveDay(day);mouseDown = true" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day):''" *ngFor="let day of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" style="border:2px solid;height: 10vh;width: 10vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':checkDay(day)?'orange':checkWeekends(day)?'grey':''}">
            <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 2em" >{{day | date:'d'}}</span>
          </div>
        </div>-->
      <div id="cont">
        <div style="border: none;width: 38vw;height: 32vh; text-align: left;" id="calendrier">
          <h1 style="text-align: center">{{mois}} {{dateNow.getFullYear()}}</h1>
          <div style="border: 1px solid;width: 5vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine">{{d}}</div>
          <div style="border:0px solid;height: 5vh;width: 5vw;display: inline-block;" *ngFor="let i of creatArray(addCells(nomsDesMois.indexOf(mois)))"></div>
          <div  (mousedown)="addRemoveDay(day);mouseDown = true" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day):''" *ngFor="let day of getDaysInMonth(nomsDesMois.indexOf(mois),dateNow.getFullYear())"
               style="border:2px solid;height: 5vh;width: 5vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':getDayColor(day)}">
            <div [matTooltip]="getAbsTypeLong(toMomentFormat(day))">
              <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 1em" >{{day | date:'d'}}</span>
              <span  style="position: absolute;top:2em;right: 0.5em;font-size: 0.8em">{{getAbsHalfDay(toMomentFormat(day))}} {{absShortTypes[absTypes.indexOf(f.value[toMomentFormat(day)])]}} {{getAbsTypeShort(toMomentFormat(day))}} <!--{{toMomentFormat(day)}}--></span>
            </div>

          </div>
        </div>
        <br>
        <div class="legend">
          <div style="background: yellow" disabled>Congés en attente de validation</div>
          <div style="background: greenyellow" disabled>Congés validés</div>
        </div>
        <h4>
          Jours de congés demandés
        </h4>
        <div *ngIf="daysOffSavedObjArr.length == 0; else conges" class="emptyDaysoff">Pas de jours de congés demandés ce mois-ci</div>
        <ng-template #conges>
          <ul style="list-style-type: none;">
            <li *ngFor="let c of getHolidaysOfMonth(mois)">{{c.date}} - {{c.typeConge}} {{c.demiJournee?'demi-journée':''}}</li>
          </ul>
        </ng-template>
      </div>

      <!--  <mat-card class="calendar-card">
        <mat-card-title>
          {{dateNow.getFullYear()}}
        </mat-card-title>
      &lt;!&ndash;  <mat-month-view [dateFilter]="dateFilter" [activeDate]="dateNow" #calendar (selectedChange)="addRemoveDay($event)" (selected)="SelectCell($event)">&ndash;&gt;
      &lt;!&ndash;  </mat-month-view>&ndash;&gt;
      </mat-card>-->

      <div style="width: 40vw">
        <div>
          <form (ngSubmit)="sendRequest(f)" #f="ngForm">
            <h4>
              Faire une demande
            </h4>
            <div>
              Sélectionnez les date de congés/absences à poser sur le calendrier joint. Pour changer de mois, sélectionnez l'onglet correspondant.
            </div>
            <div *ngFor="let dayOff of daysOffSelectedObjArr" style="margin: 3em;box-shadow:  0 0 20px #D3D3D3;padding: 2em;">
              <mat-form-field>
                <span class="prefix" matPrefix>{{dayOff.date}}</span>
                <mat-select #raison [(ngModel)]="dayOff.typeConge" [name]="dayOff.date" required placeholder="Type d'absence" (selectionChange)="autoFillType(dayOff)">
                  <mat-option *ngFor="let absence of absTypes" [value]="absence">
                    <span matPrefix *ngIf="absence ==='Congés payés'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':currentUser.cpNMoins1>0?'darkblue':'red'}">{{currentUser.cpNMoins1}}</span>
                    <span matPrefix *ngIf="absence ==='RTT'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':currentUser.rttn>0?'darkblue':'red'}">{{currentUser.rttn}}</span> {{absence}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox [(ngModel)]="dayOff.demiJournee" [name]="dayOff.date + ' boolean'">Demi-journée?</mat-checkbox>
              <br>
              <mat-form-field *ngIf="dayOff.demiJournee">
                <span class="prefix" matPrefix>Type de demi-journée: </span>
                <mat-select [(ngModel)]="dayOff.typeDemiJournee" [name]="dayOff.typeDemiJournee" [ngModelOptions]="{standalone: true}" placeholder="Type de demi-journée">
                  <mat-option value="Matin">Matin</mat-option>
                  <mat-option value="Après-midi">Après-midi</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="commentaires">
                <input matInput placeholder="Commentaires {{(raison.value && raison.value !== 'Absences exceptionnelle'?'facultatif':'')}}" [(ngModel)]="dayOff.commentaires" [name]="dayOff.date + ' comm'" [required]="raison.value === 'Absences exceptionnelle'">
              </mat-form-field>
              <div *ngIf="dayOff.typeConge == 'Absence Exceptionnelle'" style="display: flex;flex-direction: column;">
                <label>Document justificatif</label>
                <input-file placeholder="Insérer un fichier..." fileLimit=1 [(ngModel)]="selectedFiles" (ngModelChange)="handleFile()" [ngModelOptions]="{standalone: true}" id="file" style="align-self: center;"></input-file>
              </div>
            </div>
            <button mat-raised-button type="submit" [disabled]="f.invalid" style="margin-top: 2em;">Envoyer</button>
          </form>
          <!--  <p>{{f.value | json }}</p>-->
        </div>
      </div>

      <pre>{{s(daysOffSelectedObjArr)}}</pre>

    </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!--<div *ngIf="FicheEnvoyee" id="final">-->
<!--  Vous avez envoyée votre Fiche de présence pour ce mois-ci-->
<!--</div>-->
