<h1>
  Outils demande de congés
</h1>
<div>
  <div><strong>Solde CP année N-1: </strong>{{countConges()}}</div>
  <div><strong>Solde CP année N: </strong>{{countCongesAnticipes()}}</div>
  <div><strong>Solde RTT (h): </strong>{{countRTT()}}</div>
  <div><strong>Solde Ancienneté: </strong>{{countAnciennete()}}</div>
</div>
<br>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    *ngIf="daysOffSavedObjArr.length == 0"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-tab-group [selectedIndex]="dateNow.getMonth()"  *ngIf="daysOffSavedObjArr.length != 0">
  <div *ngFor = "let x of [0,1]">
  <mat-tab *ngFor="let mois of nomsDesMois"  [disabled]="disableTabs(nomsDesMois.indexOf(mois),dateNow.getFullYear()+x)" >
    <ng-template mat-tab-label>
     <span [matTooltip]="disableTabs(nomsDesMois.indexOf(mois), dateNow.getFullYear()+x)?'Ce mois est déjà passé':''">{{mois}} {{dateNow.getFullYear() + x}}</span>
    </ng-template>
    <ng-template matTabContent>
    <div style="justify-content: space-evenly;display: flex">
      <!--  <div style="border: 1px solid;width: 75vw;height: 60vh; text-align: left;" >
          <div style="border: 1px solid;width: 10vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine">{{d}}</div>
          <div style="border:0px solid;height: 10vh;width: 10vw;display: inline-block;" *ngFor="let i of creatArray(addCells())"></div>
          <div (mousedown)="addRemoveDay(day);mouseDown = true" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day):''" *ngFor="let day of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" style="border:2px solid;height: 10vh;width: 10vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':checkDay(day)?'orange':checkWeekends(day)?'grey':''}">
            <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 2em" >{{day | date:'d'}}</span>
          </div>
        </div>-->
      <div id="cont">
        <div style="display: flex;justify-content: space-evenly;align-content: space-evenly;">
        <button mat-button (click)="plage = !plage;firstDay = null;firstClick=false;" style="background-color: black;"><span *ngIf="!plage">Sélection de plages de dates</span><span *ngIf="plage">Sélection de date unique</span></button>
        <button mat-button (click)="daysOffSelectedObjArr = [];plage = false;firstDay = null;firstClick=false;" style="background-color: black;">Réinitialiser le calendrier</button>
        </div>
        <div style="border: none;width: 38vw;height: 32vh; text-align: left;" id="calendrier">
          <h1 style="text-align: center">{{mois}} {{dateNow.getFullYear()+x}}</h1>
          <div style="border: 1px solid;width: 5vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine">{{d}}</div>
          <div style="border:0px solid;height: 5vh;width: 5vw;display: inline-block;" *ngFor="let i of creatArray(addCells(nomsDesMois.indexOf(mois),x))"></div>
          <div  (mousedown)="addRemoveDay(day,x);mouseDown = true" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day,x):''" *ngFor="let day of getDaysInMonth(nomsDesMois.indexOf(mois),dateNow.getFullYear()+x)"
               style="border:2px solid;height: 5vh;width: 5vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':getDayColor(day,x)}">
            <div [matTooltip]="getAbsTypeLong(toMomentFormat(day))">
              <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 1em" >{{day | date:'d'}}</span>
              <span  style="position: absolute;top:2em;right: 0.5em;font-size: 0.8em">{{getAbsHalfDay(toMomentFormat(day))}} {{getAbsTypeShort(toMomentFormat(day))}} <!--{{toMomentFormat(day)}}--></span>
            </div>
          </div>
        </div>
        <br>
        <div class="legend">
          <div style="background: yellow" disabled>Congés en attente de validation</div>
          <div style="background: greenyellow" disabled>Congés validés</div>
        </div>
        <h4>
          Jours de congés demandés
        </h4>
        <div *ngIf="daysOffSavedObjArr.length == 0; else conges" class="emptyDaysoff">Pas de jours de congés demandés ce mois-ci</div>
        <ng-template #conges>
          <ul style="list-style-type: none;">
            <li *ngFor="let c of getHolidaysOfMonth(mois)">{{c.date}} - {{c.typeConge}} {{c.demiJournee?'demi-journée':''}}</li>
          </ul>
        </ng-template>
      </div>

      <!--  <mat-card class="calendar-card">
        <mat-card-title>
          {{dateNow.getFullYear()}}
        </mat-card-title>
      &lt;!&ndash;  <mat-month-view [dateFilter]="dateFilter" [activeDate]="dateNow" #calendar (selectedChange)="addRemoveDay($event)" (selected)="SelectCell($event)">&ndash;&gt;
      &lt;!&ndash;  </mat-month-view>&ndash;&gt;
      </mat-card>-->

      <div style="width: 40vw">
        <div>
          <form (ngSubmit)="sendRequest(f, daysOffSelectedObjArr)" #f="ngForm" novalidate>
            <h4>
              Faire une demande
            </h4>
            <div>
              Sélectionnez les date de congés/absences à poser sur le calendrier joint. Pour changer de mois, sélectionnez l'onglet correspondant.
            </div>
            <div *ngFor="let dayOff of daysOffSelectedObjArr; index as i;" style="margin: 3em;box-shadow:  0 0 20px #D3D3D3;padding: 2em;">
              <div *ngIf="isArray(dayOff)">
                <div *ngFor="let d of dayOff;index as j" [hidden]="j!=0">
                <mat-form-field>
                  <span class="prefix" matPrefix>Du {{dayOff[0].date}} au {{dayOff[dayOff.length-1].date}}</span>
                  <mat-select #raison [(ngModel)]="d.typeConge" [name]="d.date" required placeholder="Type d'absence" (selectionChange)="autoFillTypeInPlage(d, dayOff)">
                    <mat-option *ngFor="let absence of absTypes" [value]="absence">
                      <span matPrefix *ngIf="absence ==='Congés payés'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':countConges()>0?'darkblue':'red'}">{{!allowAnticipation?countConges():countCongesAnticipes()}}{{countAnciennete()>0?" + ("+ countAnciennete()+ ")":''}}</span>
                      <span matPrefix *ngIf="absence ==='RTT'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':countRTT()>0?'darkblue':'red'}">{{countRTT()}}</span> {{absence}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="commentaires">
                  <input matInput placeholder="Commentaire facultatif" [(ngModel)]="d.commentaires" [name]="d.date + ' comm'">
                </mat-form-field>
                <div *ngIf="d.typeConge == 'Absence Exceptionnelle'" style="display: flex;flex-direction: column;">
                  <mat-form-field>
                    <span class="prefix" matPrefix>Raison de l'absence exceptionnelle: </span>
                    <mat-select [(ngModel)]="d.typeCe" [name]="d.date + ' typeCe'" placeholder="Raison de l'absence exceptionnelle..." [required]="raison.value == 'Absence Exceptionnelle'">
                      <mat-option value="mariage-pacse" matTooltip="4 jours ouvrés">mariage/pacse : 4j</mat-option>
                      <mat-option value="obsèques conjoint-enfants" matTooltip="2 jours ouvrés">obsèques conjoint/enfants : 2j</mat-option>
                      <mat-option value="mariage enfants" matTooltip="1 jour ouvré">mariage enfants : 1j</mat-option>
                      <mat-option value="obsèques ascendants" matTooltip="2 jours ouvrés">obsèques ascendants parents/grands-parents/arrières grands-parents : 2j</mat-option>
                      <mat-option value="obsèques collatéraux" matTooltip="1 jour ouvré">obsèques frère/sœur : 1j</mat-option>
                      <mat-option value="obsèques beau-parents" matTooltip="1 jours ouvré">obsèques beau-père/belle-mère : 1j</mat-option>
                      <mat-option value="Naissance-adoption" matTooltip="3 jours ouvrés consécutifs ou non, inclus dans une période de quinze jours entourant la date de naissance ou suivant l'arrivée au foyer de l'enfant placé en vue de son adoption.">Père : - Naissance survenue à son foyer ou Arrivée d'un enfant adopté : 3 jours ouvrés consécutifs ou non, inclus dans une période de quinze jours entourant la date de naissance ou suivant l'arrivée au foyer de l'enfant placé en vue de son adoption.</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <label>Document justificatif</label>
                  <input-file placeholder="Insérer un fichier..." fileLimit=1 [(ngModel)]="d.rawFile" [name]="d.date + 'fichier'" (ngModelChange)="handleFile(d)" [ngModelOptions]="{standalone: true}" style="align-self: center;"></input-file>
                </div>
                </div>
              </div>
              <div *ngIf="!isArray(dayOff)">
              <mat-form-field>
                <span class="prefix" matPrefix>{{dayOff.date}}</span>
                <mat-select #raison [(ngModel)]="dayOff.typeConge" [name]="dayOff.date" required placeholder="Type d'absence" (selectionChange)="autoFillType(dayOff)">
                  <mat-option *ngFor="let absence of absTypes" [value]="absence">
                    <span matPrefix *ngIf="absence ==='Congés payés'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':countConges()>0?'darkblue':'red'}">{{!allowAnticipation?countConges():countCongesAnticipes()}}{{countAnciennete()>0?" + ("+ countAnciennete()+ ")":''}}</span>
                    <span matPrefix *ngIf="absence ==='RTT'" style="font-weight: bolder;border: solid" [ngStyle]="{'color':countRTT()>0?'darkblue':'red'}">{{countRTT()}}</span> {{absence}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox [checked]="dayOff.demiJournee" (change)="dayOff.demiJournee = $event.checked.valueOf()">Demi-journée?</mat-checkbox>
              <br>
              <mat-form-field *ngIf="dayOff.demiJournee">
                <span class="prefix" matPrefix>Type de demi-journée: </span>
                <mat-select [(ngModel)]="dayOff.typeDemiJournee" [ngModelOptions]="{standalone: true}" placeholder="Type de demi-journée">
                  <mat-option value="Matin">Matin</mat-option>
                  <mat-option value="Après-midi">Après-midi</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="commentaires">
                <input matInput placeholder="Commentaire facultatif" [(ngModel)]="dayOff.commentaires" [name]="dayOff.date + ' comm'">
              </mat-form-field>
              <div *ngIf="dayOff.typeConge == 'Absence Exceptionnelle'" style="display: flex;flex-direction: column;">
                <mat-form-field>
                  <span class="prefix" matPrefix>Raison de l'absence exceptionnelle: </span>
                  <mat-select [(ngModel)]="dayOff.typeCe" [name]="dayOff.date + ' typeCe'" placeholder="Raison de l'absence exceptionnelle..." [required]="raison.value == 'Absence Exceptionnelle'">
                    <mat-option value="mariage-pacse" matTooltip="4 jours ouvrés">mariage/pacse : 4j</mat-option>
                    <mat-option value="obsèques conjoint-enfants" matTooltip="2 jours ouvrés">obsèques conjoint/enfants : 2j</mat-option>
                    <mat-option value="mariage enfants" matTooltip="1 jour ouvré">mariage enfants : 1j</mat-option>
                    <mat-option value="obsèques ascendants" matTooltip="2 jours ouvrés">obsèques ascendants parents/grands-parents/arrières grands-parents : 2j</mat-option>
                    <mat-option value="obsèques collatéraux" matTooltip="1 jour ouvré">obsèques frère/sœur : 1j</mat-option>
                    <mat-option value="obsèques beau-parents" matTooltip="1 jour ouvré">obsèques beau-père/belle-mère : 1j</mat-option>
                    <mat-option value="Naissance-adoption" matTooltip="3 jours ouvrés consécutifs ou non, inclus dans une période de quinze jours entourant la date de naissance ou suivant l'arrivée au foyer de l'enfant placé en vue de son adoption.">Père : - Naissance survenue à son foyer ou Arrivée d'un enfant adopté : 3 jours ouvrés consécutifs ou non, inclus dans une période de quinze jours entourant la date de naissance ou suivant l'arrivée au foyer de l'enfant placé en vue de son adoption.</mat-option>
                  </mat-select>
                </mat-form-field>
                <label>Document justificatif</label>
                <input-file placeholder="Insérer un fichier..." fileLimit=1 [(ngModel)]="dayOff.rawFile" [name]="dayOff.date + 'fichier'" (ngModelChange)="handleFile(dayOff)" [ngModelOptions]="{standalone: true}" style="align-self: center;"></input-file>
              </div>
              </div>
            </div>
            <mat-progress-spinner
              *ngIf="FicheEnvoyee"
              color="accent"
              mode="indeterminate">
            </mat-progress-spinner>
            <button mat-raised-button type="submit" [disabled]="!f.form.valid || !rttValid || !fileValid || FicheEnvoyee || daysOffSelectedObjArr.length == 0" style="margin-top: 2em;">Envoyer</button>
          </form>
          <!--  <p>{{f.value | json }}</p>-->
        </div>
      </div>

<!--      <pre>{{s(daysOffSelectedObjArr)}}</pre>-->

    </div>
    </ng-template>
  </mat-tab>
  </div>
</mat-tab-group>

<!--<div *ngIf="FicheEnvoyee" id="final">-->
<!--  Vous avez envoyée votre Fiche de présence pour ce mois-ci-->
<!--</div>-->
