.btn-floating {
  background-color: black;
  color: white;
}

.mat-card {
  width: 90%;
  margin-bottom: 5%;
  justify-content: left;
}

.mat-fab {
  background-color: black;
  color: white;
  margin: 1em;
}

mat-card-content {
  text-wrap: normal;
  text-align: left;
  white-space: pre-wrap;
}

@media only screen and (min-width: 768px) {
  .mat-card {
    width: 90vw;
    margin-bottom: 5%;
    justify-content: left;
  }
}
