.brand-logo {
  margin-top: 0.2em;
  margin-left: 0.5em;
  height: 30%;
  width: 30%;
  float: left;
}

/*@media only screen and (max-width: 768px) {*/
/*  .brand-logo {*/
/*    margin-top: 0.2em;*/
/*    margin-left: 0.5em;*/
/*    height: 60%;*/
/*    width: 60%;*/
/*    float: left;*/
/*  }*/
/*}*/

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
  text-decoration: none;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-button {
  color: white;
  font-size: 1em;
}

.mat-icon-button {
  color: white;
}

.mat-toolbar{
  border-radius: 3px;
  background-color: black;
}

@media(max-width: 800px){
  mat-toolbar{
    border-radius: 0px;
    background-color: black;
  }

  .mat-button {
    font-size: 1em;
  }
}

.mat-menu-content {
  background-color: black;
}

.mat-menu-item {
  color: white;
}
