<!--<div *ngIf="user" id="profile-card" class="card">-->
<!--  <div class="card-image waves-effect waves-block waves-light">-->
<!--    <img class="activator" [src]=img_bgd alt="user bg">-->
<!--  </div>-->
<!--  <div class="card-content">-->
<!--    <img [src]=img alt=""-->
<!--         class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">-->
<!--    <a class="btn-floating activator btn-move-up waves-effect waves-light z-depth-4 right" [routerLink]="['/edit_user/', user.id]">-->
<!--      <i class="material-icons">edit</i>-->
<!--    </a>-->
<!--    <h5 class="card-title activator grey-text text-darken-4"> {{ user.nom }} {{ user.prenom }}</h5>-->
<!--    <h4 class="mat-card-subtitle">Dernière connexion: {{ user.derniereConnexion | date: 'dd/MM/yyyy, HH:mm' }}</h4>-->
<!--    <p><i class="material-icons profile-card-i">perm_identity</i> {{ user.role }}</p>-->
<!--    <p>Date d'inscription: {{ user.dateInscription | date: 'dd/MM/yyyy, HH:mm' }}</p>-->
<!--    <p><i class="material-icons profile-card-i">email</i> {{ user.email }}</p>-->

<!--    <p class="mat-dialog-title">Cet utilisateur s'intéresse aux missions suivantes:</p>-->
<!--    <div class="row">-->
<!--        <div class="card-panel col s6" *ngFor="let mission of user.missions">-->
<!--          <p><b>Intitulé:</b> {{ mission.intitule }}</p>-->
<!--          <p><b>Client:</b> {{ mission.client }}</p>-->
<!--          <p><b>Id:</b> {{ mission.id }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<a *ngIf="user.id != currentUser.id" routerLink="/users"><span>RETOUR <i class="material-icons">arrow_back</i></span></a>-->
  <mat-card *ngIf="!spinner">
    <div mat-card-image>
      <img [src]=img_bgd alt="user bg">
      <button mat-fab [routerLink]="['/edit_user/', user?.id]" matTooltip="Modifier">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-card-header>
      <img mat-card-avatar [src]=img alt="">
      <mat-card-title>
        {{ user?.prenom }} {{ user?.nom }}
      </mat-card-title>
      <mat-card-subtitle class="identity">
        <mat-icon class="labels">perm_identity</mat-icon>
        {{ user?.role == 'ADMIN'?'ADMINISTRATEUR':'UTILISATEUR' }} {{user?.fonction }}
      </mat-card-subtitle>
<!--      <mat-card-subtitle>-->
<!--        Dernière connexion: {{ user?.derniereConnexion | date: 'dd/MM/yyyy, HH:mm' }}-->
<!--      </mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start">
      <p>Date d'inscription :&ensp;  {{ user?.dateInscription | date: 'dd/MM/yyyy, HH:mm' }}</p>
      <p>Date d'entrée dans l'entreprise :  &ensp;{{ user?.dateArrivee | date: 'dd/MM/yyyy' }}</p>
      <p class="identity">
        <mat-icon class="labels">business_center</mat-icon><b class="labels">Métier :</b>
          {{ user?.metier }}</p>
      <p class="identity">
        <mat-icon class="labels">contact_phone</mat-icon><b class="labels">Téléphone Pro :&ensp;  </b>
          {{ formatTel(user?.telPro) }}</p>
      <p class="identity">
        <mat-icon class="labels">email</mat-icon><b class="labels">Email Pro :&ensp;  </b>
          {{ user?.email }}</p>
      <p class="identity">
        <mat-icon class="labels">home</mat-icon><b class="labels">Adresse :&ensp;  </b>
          {{ user?.adressePostale }}</p>
      <p class="identity">
        <mat-icon class="labels">phone</mat-icon><b class="labels">Téléphone Perso :   </b>
          {{ formatTel(user?.telephone) }}</p>
      <p class="identity">
      <mat-icon class="labels">mail_outline</mat-icon><b class="labels">Email perso :&ensp;  </b>
          {{ user?.emailPerso }}</p>
      <p style="text-decoration: underline;font-weight: bold;">RESUMÉ COMPTEUR CP/RTT :</p>
      <p>
        <span class="labels">Congés N-1 :&ensp; </span>
          {{ user?.cpNMoins1 | number: '1.2-2' }}</p>
      <p>
        <span class="labels">Congés N :&ensp; </span>
          {{ user?.cpN | number: '1.2-2' }}</p>
      <p class="labels">
        <span class="labels">RTT (h) :&ensp; </span>
          {{ user?.rttn | number: '1.2-2' }}</p>
      <p>
        <span class="labels">Congés Ancienneté :&ensp; </span>
          {{ user?.congeAnciennete | number: '1.2-2' }}</p>

<!--      <p>Cet utilisateur s'intéresse aux missions suivantes:</p>-->
<!--      <div class="mini-container" fxLayout="row wrap" fxFlexAlign="space-evenly" fxLayoutGap="5vw">-->
<!--        <div *ngFor="let mission of user?.missions" class="mat-card mat-card-mini">-->
<!--          <p><b>Intitulé:</b> {{ mission.intitule }}</p>-->
<!--          <p><b>Client:</b> {{ mission.client }}</p>-->
<!--          <p><b>Id:</b> {{ mission.id }}</p>-->
<!--        </div>-->
<!--      </div>-->
    </mat-card-content>
    <mat-card-actions>
<!--      <button mat-icon-button routerLink="/users">RETOUR <mat-icon>arrow_back</mat-icon></button>-->
        <button mat-mini-fab  *ngIf="currentUser.role == 'ADMIN'" routerLink="/users" style="color: white;background-color: black;vertical-align: center;">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-mini-fab  *ngIf="user?.id == currentUser.id && currentUser.role != 'ADMIN'" routerLink="/news" style="color: white;background-color: black;vertical-align: center;">
        <mat-icon >arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
<mat-card *ngIf="spinner"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
