.btn-floating {
  background-color: black;
  color: white;
}

mat-card .mat-card-image img {
   display: block;
   border-radius: 2px 2px 0 0;
   position: relative;
   left: 0;
   right: 0;
   top: -10vw;
   bottom: 0;
   width: 100%;
 }

.mat-card-avatar {
  width: 150px;
  height: 150px;
}

.mat-card-image {
  height: 20vh;
  overflow: hidden;
}

mat-card-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.mat-card-mini {
  width: 20em;
}

.mini-container {
  align-content: space-evenly;
  flex-flow: row wrap;
  justify-content: stretch;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.mat-icon-button {
  color: black;
  margin: 6em;
}

.mat-fab {
  position: absolute;
  top:0;
  right: 0;
  margin: 1em;
  color: white;
  background-color: black;
}

.labels {
  margin-right: 0.5em;
}

.identity {
  display: flex;
  align-items: center;
}
