.btn-floating {
  background-color: black;
  color: white;
}

.mat-button::ng-deep {
  width: 1em!important;
}

.news-card {
  width: 80%;
  margin-bottom: 5%;
  justify-content: center;
}

.mat-fab {
  background-color: black;
  color: white;
  margin: 1em;
}

/*@media only screen and (min-width: 768px) {*/
/*  .news-card {*/
/*    width: 40vw;*/
/*    margin-bottom: 5%;*/
/*    justify-content: center;*/
/*  }*/
/*}*/

@media only screen and (max-width: 768px) {
  .question{
    font-size: 1em!important;
  }

  .reponse {
    font-size: 0.9em!important;
  }

}
