<mat-card class="contact-card" *ngIf="!loading">
<!--<div class="card">-->
<!--  <div class="card-title black white-text">Candidature:</div>-->
<!--  <div class="card-image">-->
<!--    <img class="activator" src="../../{{envBase}}/assets/images/resume2.png" alt="user bg">-->
<!--  </div>-->
  <mat-card-title>
    Candidature spontanée
  </mat-card-title>
  <div mat-card-image>
    <img class="card-image" src="../../{{envBase}}/assets/images/resume2.png" alt="user bg">
  </div>
    <div class="card-content">
      <div class="mat-card-content">
        <p>Vous souhaitez nous envoyer votre candiature spontanée pour rejoindre nos collaborateurs ?</p>
        <p>Renseignez les champs ci-dessous et nous reprendrons contact avec vous dans les plus brefs délais.</p>
        <br>
      </div>
      <p *ngIf="message" class="text-center error">{{message}}</p>
        <form [formGroup]="contactForm" (ngSubmit)="sendInfos()">
          <mat-form-field>
            <mat-label>Civilité :</mat-label>
            <mat-select formControlName="civilite">
              <mat-option value="Monsieur">Monsieur</mat-option>
              <mat-option value="Madame">Madame</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="nom" placeholder="Nom" required>
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="prenom" placeholder="Prénom" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="mobile" placeholder="Numéro de mobile" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Poste Recherché :</mat-label>
            <mat-select formControlName="posteRecherche" multiple>
              <mat-option value="Achat/sourcing">Achat/sourcing</mat-option>
              <mat-option value="Affaires règlementaires">Affaires règlementaires</mat-option>
              <mat-option value="Autres">Autres</mat-option>
              <mat-option value="R&D/Formulation">R&D/Formulation</mat-option>
              <mat-option value="Conception/Design">Conception/Design</mat-option>
              <mat-option value="Développement/Projet">Développement/Projet</mat-option>
              <mat-option value="Méthodes/Industrialisation">Méthodes/Industrialisation</mat-option>
              <mat-option value="Production/Atelier">Production/Atelier</mat-option>
              <mat-option value="Qualité/Amélioration continue">Qualité/Amélioration continue</mat-option>
              <mat-option value="Supply chain/logistique, CFAO/Programmation">Supply chain/logistique</mat-option>
              <mat-option value="CFAO/Programmation">CFAO/Programmation</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
              <input-file id="fileBase64" placeholder="Déposer votre CV" formControlName="fileBase64"
                          (change)="onFileChange()"></input-file>
              <div *ngIf="submitted && f.fileBase64.errors" class="help-block">
                <div *ngIf="f.fileBase64.errors.required">Votre CV est requis pour pouvoir vous recontacter</div>
              </div>
          </div>
          <div class="form-group center">
              <button mat-button [disabled]="loading || contactForm.invalid">Envoyer</button>
          </div>
    </form>
    </div>
</mat-card>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    *ngIf="loading"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
