<div class="col s12 m12 l6">
  <div class="card-panel">
    <h4 class="text-center">Editer une mission</h4>
    <div class="row">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="col s12">
        <div class="row">
          <div class="input-field col s12" style="display: none">
            <input disabled formControlName="id" placeholder="id" name="id" class="validate" id="id">
            <label for="id" class="active">Id:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="intitule" placeholder="Intitulé" name="intitule" class="validate" id="intitule">
            <label for="intitule" class="active">Intitulé:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="client" placeholder="Client" name="client" class="validate" id="client">
            <label for="client" class="active">Client:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="resume" placeholder="resume" name="resume" class="validate" id="resume">
            <label for="resume" class="active">Résumé:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="number" formControlName="duree" placeholder="0" name="duree" class="validate" id="duree">
            <label for="duree" class="active">Durée:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea formControlName="jobDesc" placeholder="Job Description" name="jobDesc" class="materialize-textarea" id="jobDesc"></textarea>
            <label for="jobDesc" class="active">Job Description:</label>
          </div>
        </div>
        <button class="btn btn-success">Mettre à jour</button>
      </form>
    </div>
  </div>
</div>
