<div class="col-md-6">
  <h2 class="text-center">Ajouter une mission</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Intitulé:</label>
      <input disabled type="id" formControlName="id" placeholder="id" name="id" class="form-control"
             id="id">
    </div>
    <div class="form-group">
      <label for="intitule">Intitulé:</label>
      <input type="intitule" formControlName="intitule" placeholder="Intitulé" name="intitule" class="form-control"
             id="intitule">
    </div>

    <div class="form-group">
      <label for="client">Client:</label>
      <input formControlName="client" placeholder="Client" name="client" class="form-control" id="client">
    </div>

    <div class="form-group">
      <label for="resume">Résumé:</label>
      <input formControlName="resume" placeholder="resume" name="resume" class="form-control" id="resume">
    </div>

    <div class="form-group">
      <label for="duree">Durée:</label>
      <input type="number" formControlName="duree" placeholder="0" name="duree" class="form-control" id="duree">
    </div>

    <div class="form-group">
      <label for="jobDesc">Job Description:</label>
      <input formControlName="jobDesc" placeholder="Job Description" name="jobDesc" class="form-control" id="jobDesc">
    </div>
    <button class="btn btn-success #1976d2 blue darken-2">Mettre à jour</button>
  </form>
</div>
