<h2 style="align-self: center">Forum</h2>
<!--<button mat-fab mat-button (click)="triggerSms()">Envoyer SMS</button>-->
<button mat-fab routerLink="/add_message" matTooltip="Créer un nouveau fil de discussion"><mat-icon>add</mat-icon></button>
<mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="emitSelectedTab($event.index)">
  <mat-tab label="Besoins Elsimco">
    <div style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        *ngIf="loading"
        color="accent"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" style="align-items: center">
  <div *ngIf="besoins?.length == 0">Pas encore de messages publiés</div>
  <mat-paginator #topBesoins style="background-color: transparent" [length]="length"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="OnPageChange($event, paginatorBottomBesoins);" *ngIf="besoins.length > 0">
  </mat-paginator>
  <mat-card style="border-radius: 15px;" *ngFor="let message of pagedbesoins" [routerLink]="deleteClicked?[]:['/forum/', message?.id]">
    <mat-card-header>
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
        <div style="font-weight: bold;vertical-align: center">{{message?.sujet}}</div>
      </mat-card-title>
      <mat-card-subtitle style="text-align: right;font-style: italic!important;">Par {{ message?.auteur.prenom }} {{ message?.auteur.nom }} le {{message?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>
      </mat-card-subtitle>
      <div mat-card-avatar>
        <img class="img-avatar" [src]=message.auteur.img alt="">
      </div>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="createTextLinks_(message?.message)">
      </p>
    </mat-card-content>
    <mat-card-actions style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
      <button style="text-transform: none!important;color: black!important" class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" (click)="deleteOriginMessage(message);" *ngIf="currentUser.role == 'ADMIN'" matTooltip="Supprimer"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
    <span style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;text-decoration: underline;font-style: italic"> {{filterByOriginId(answersBesoins,message.id)?.length>0?filterByOriginId(answersBesoins,message.id)?.length:'Aucune'}} {{ filterByOriginId(answersBesoins,message.id)?.length <=1?'réponse':'réponses'}}</span>
  </mat-card>
  <mat-paginator #bottomBesoins style="background-color: transparent" [length]="length"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="OnPageChange($event, paginatorTopBesoins);" *ngIf="besoins.length > 0">
  </mat-paginator>
</div>
  </mat-tab>
  <mat-tab label="Transfert d'expérience">
    <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" style="align-items: center">
      <div *ngIf="experiences?.length == 0">Pas encore de messages publiés</div>
      <mat-paginator #topExperience style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorBottomExperiences);" *ngIf="experiences.length > 0">
      </mat-paginator>
      <mat-card style="border-radius: 15px;" *ngFor="let message of pagedexperiences" [routerLink]="deleteClicked?[]:['/forum/', message?.id]">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
            <div style="font-weight: bold;vertical-align: center">{{message?.sujet}}</div>
          </mat-card-title>
          <mat-card-subtitle style="text-align: right;font-style: italic!important;">Par {{ message?.auteur.prenom }} {{ message?.auteur.nom }} le {{message?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>
          </mat-card-subtitle>
          <div mat-card-avatar>
            <img class="img-avatar" [src]=message.auteur.img alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="createTextLinks_(message?.message)">
          </p>
        </mat-card-content>
        <mat-card-actions style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
          <button style="text-transform: none!important;color: black!important" class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" (click)="deleteOriginMessage(message);" *ngIf="currentUser.role == 'ADMIN'" matTooltip="Supprimer"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
        <span style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;text-decoration: underline;font-style: italic"> {{filterByOriginId(answersExperiences,message.id)?.length>0?filterByOriginId(answersExperiences,message.id)?.length:'Aucune'}} {{ filterByOriginId(answersExperiences,message.id)?.length <=1?'réponse':'réponses'}}</span>
      </mat-card>
      <mat-paginator #bottomExperience style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorTopExperiences);" *ngIf="experiences.length > 0">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Afterworks">
    <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" style="align-items: center">
      <div *ngIf="afterworks?.length == 0">Pas encore de messages publiés</div>
      <mat-paginator #topAfterworks style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorBottomAfterworks);" *ngIf="afterworks.length > 0">
      </mat-paginator>
      <mat-card style="border-radius: 15px;" *ngFor="let message of pagedafterworks" [routerLink]="deleteClicked?[]:['/forum/', message?.id]">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
            <div style="font-weight: bold;vertical-align: center">{{message?.sujet}}</div>
          </mat-card-title>
          <mat-card-subtitle style="text-align: right;font-style: italic!important;">Par {{ message?.auteur.prenom }} {{ message?.auteur.nom }} le {{message?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>
          </mat-card-subtitle>
          <div mat-card-avatar>
            <img class="img-avatar" [src]=message.auteur.img alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="createTextLinks_(message?.message)">
          </p>
        </mat-card-content>
        <mat-card-actions style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
          <button style="text-transform: none!important;color: black!important" class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" (click)="deleteOriginMessage(message);" *ngIf="currentUser.role == 'ADMIN'" matTooltip="Supprimer"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
        <span style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;text-decoration: underline;font-style: italic"> {{filterByOriginId(answersAfterworks,message.id)?.length>0?filterByOriginId(answersAfterworks,message.id)?.length:'Aucune'}} {{ filterByOriginId(answersAfterworks,message.id)?.length <=1?'réponse':'réponses'}}</span>
      </mat-card>
      <mat-paginator #bottomAfterworks style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorTopAfterworks);" *ngIf="afterworks.length > 0">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Afterworks en attente">
    <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" style="align-items: center;margin-top: 1em;">
      <div *ngIf="filterByUserId(afterworksToValidate)?.length == 0">Vous n'avez pas encore proposé d'Afterwork soumis à validation</div>
      <mat-card style="border-radius: 15px;" *ngFor="let message of filterByUserId(afterworksToValidate)">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
            <div style="font-weight: bold;vertical-align: center">{{message?.sujet}}</div>
          </mat-card-title>
          <mat-card-subtitle style="text-align: right;font-style: italic!important;">Par {{ message?.auteur.prenom }} {{ message?.auteur.nom }} le {{message?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>
          </mat-card-subtitle>
          <div mat-card-avatar>
            <img class="img-avatar" [src]=message.auteur.img alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="createTextLinks_(message?.message)">
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab *ngIf="currentUser.role == 'ADMIN'">
    <ng-template matTabLabel>
      <span [matBadge]="afterworksToValidate?.length.toString()" matBadgeOverlap="false" [matBadgeHidden]="afterworksToValidate?.length==0">À valider</span>
    </ng-template>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" style="align-items: center">
      <div *ngIf="afterworksToValidate?.length == 0">Pas encore de messages à valider</div>
      <mat-paginator #topAfterworksToValidate style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorBottomAfterworksToValidate);" *ngIf="afterworksToValidate.length > 0">
      </mat-paginator>
      <mat-card style="border-radius: 15px;cursor: initial;" *ngFor="let message of pagedAfterworksToValidate">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
            <div style="font-weight: bold;vertical-align: center">{{message?.sujet}}</div>
          </mat-card-title>
          <mat-card-subtitle style="text-align: right;font-style: italic!important;">Par {{ message?.auteur.prenom }} {{ message?.auteur.nom }} le {{message?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>
          </mat-card-subtitle>
          <div mat-card-avatar>
            <img class="img-avatar" [src]=message.auteur.img alt="">
          </div>
        </mat-card-header>
        <mat-card-content >
          <p [innerHTML]="createTextLinks_(message?.message)">
          </p>
        </mat-card-content>
        <mat-card-actions style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
          <button style="text-transform: none!important;color: black!important" class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" (click)="validateMessage(message);" *ngIf="currentUser.role == 'ADMIN'" matTooltip="Valider"><mat-icon>check_circle</mat-icon></button><button style="text-transform: none!important;color: black!important" class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect" (click)="deleteMessage(message)" *ngIf="currentUser.role == 'ADMIN'" matTooltip="Refuser"><mat-icon>close_circle</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-paginator #bottomAfterworksToValidate style="background-color: transparent" [length]="length"
                     [pageSize]="pageSize"
                     showFirstLastButtons
                     (page)="OnPageChange($event, paginatorTopAfterworksToValidate);" *ngIf="afterworksToValidate.length > 0">
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
