.btn-floating {
  background-color: black;
  color: white;
}

.mat-card {
  width: 90%;
  margin-bottom: 5%;
  justify-content: left;
}

mat-card .mat-card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -10vw;
  bottom: 0;
  width: 100%;
}

.mat-card-avatar {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.img-avatar {
  display: inline;
  padding: 0;
  margin-left: -2%;
  margin-top: -2%;
  height: auto;
  width: 110%;
}

.mat-fab {
  background-color: black;
  color: white;
  margin: 1em;
}

.mat-card:hover{
  cursor: pointer;
}

.mat-card-content {
  text-align: left!important;
  margin-top: 1em;
  white-space: pre-wrap;
}

.mat-card-actions {
  margin-bottom: -1em;
}

@media only screen and (min-width: 768px) {
  .mat-card {
    width: 90vw;
    margin-bottom: 5%;
    justify-content: left;
  }
}
