<!--<div class="col s12 m12 l6">-->
<!--  <div class="card-panel">-->
<!--    <h4 class="text-center">Editer utilisateur</h4>-->
<!--    <div class="row">-->
<!--      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="col s12">-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <label for="email" class="active">Email:</label>-->
<!--            <input type="email" formControlName="email" placeholder="Email" name="email" class="validate" id="email">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <label for="prenom" class="active">Prénom:</label>-->
<!--            <input formControlName="prenom" placeholder="Prénom" name="prenom" class="validate" id="prenom">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <label for="nom" class="active">Nom:</label>-->
<!--            <input formControlName="nom" placeholder="Nom" name="lastName" class="validate" id="nom">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngIf="currentUser.role=='ADMIN'" class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <label for="role" class="active">Role:</label>-->
<!--            <select formControlName="role" name="role" class="browser-default" id="role">-->
<!--              <option value="ADMIN">ADMIN</option>-->
<!--              <option value="USER" selected>UTILISATEUR</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--        <button class="btn btn-success">Mettre à jour</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<mat-card *ngIf="user">
  <mat-card-title>Modifier un utilisateur</mat-card-title>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">

        <mat-form-field>
          <input matInput formControlName="prenom" [(ngModel)]="user.prenom" placeholder="Prénom" name="prenom" id="prenom">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="nom" [(ngModel)]="user.nom" placeholder="Nom" name="nom" id="nom">
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <label>
            <input matInput readonly [matDatepicker]="picker2"
                   formControlName="dateNaissance" placeholder="Date de naissance" name="dateNaissance" id="dateNaissance" [(ngModel)]="user.dateNaissance">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <mat-label>Role :</mat-label>
          <mat-select formControlName="role" [(ngModel)]="user.role">
            <mat-option value="ADMIN">ADMIN</mat-option>
            <mat-option value="USER">UTILISATEUR</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <mat-label>Fonction :</mat-label>
          <mat-select formControlName="fonction" [(ngModel)]="user.fonction">
            <mat-option value="RH">RH</mat-option>
            <mat-option value="COMMERCIAL">COMMERCIAL</mat-option>
            <mat-option value="DEVELOPPEUR">DEVELOPPEUR</mat-option>
            <mat-option value="DIRECTION">DIRECTION</mat-option>
            <mat-option value="CONSULTANT">CONSULTANT</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <mat-label>Statut :</mat-label>
          <mat-select formControlName="statut" [(ngModel)]="user.statut">
            <mat-option value="CADRE">CADRE</mat-option>
            <mat-option value="NON-CADRE">NON-CADRE</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'" (click)="picker.open()">
          <label>
            <input matInput readonly [matDatepicker]="picker"
                   formControlName="dateArrivee" [(ngModel)]="user.dateArrivee" placeholder="Date d'entrée dans l'entreprise" name="dateArrivee" id="dateArrivee">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'" (click)="picker3.open()">
          <label>
            <input matInput readonly [matDatepicker]="picker3"
                   formControlName="dateDepart" [(ngModel)]="user.dateDepart" placeholder="Date de sortie de l'entreprise" name="dateDepart" id="dateDepart">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 [disabled]="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <input matInput formControlName="trigramme" [(ngModel)]="user.trigramme" placeholder="Trigramme" name="trigramme" id="trigramme">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="metier" [(ngModel)]="user.metier" placeholder="Métier" name="metier" id="metier">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="telPro" [(ngModel)]="user.telPro" placeholder="Téléphone pro" name="telPro" id="telPro">
        </mat-form-field>

        <mat-form-field *ngIf="currentUser?.role=='ADMIN'">
          <input matInput formControlName="email" [(ngModel)]="user.email" placeholder="Email" name="email" id="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="adressePostale" [(ngModel)]="user.adressePostale" placeholder="Adresse" name="adressePostale" id="adressePostale">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="codePostal" [(ngModel)]="user.codePostal" placeholder="Code postal" name="codePostal" id="codePostal">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="ville" [(ngModel)]="user.ville" placeholder="Ville" name="ville" id="ville">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="telephone" [(ngModel)]="user.telephone" placeholder="Téléphone perso" name="telephone" id="telephone">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="emailPerso" [(ngModel)]="user.emailPerso" placeholder="Email perso" name="emailPerso" id="emailPerso">
        </mat-form-field>

        <input-file *ngIf="currentUser.role=='ADMIN'" placeholder="Insérer un avatar..." fileLimit=1 [(ngModel)]="user.rawFile" (ngModelChange)="handleFile(user)" (deletedFile)="removeImage($event)" [ngModelOptions]="{standalone: true}"></input-file>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <input matInput formControlName="cpNMoins1" [(ngModel)]="user.cpNMoins1" placeholder="Congés payés N-1" name="cpNMoins1" id="cpNMoins1">
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <input matInput formControlName="cpN" [(ngModel)]="user.cpN" placeholder="Congés payés N" name="cpN" id="cpN">
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <input matInput formControlName="rttn" [(ngModel)]="user.rttn" placeholder="RTT" name="rttn" id="rttn">
        </mat-form-field>

        <mat-form-field *ngIf="currentUser.role=='ADMIN'">
          <input matInput formControlName="congeAnciennete" [(ngModel)]="user.congeAnciennete" placeholder="Congé Ancienneté" name="congeAnciennete" id="congeAnciennete">
        </mat-form-field>
        <label>
          Dossier de compétences (DCP) :
        </label>
        <input-file placeholder="DCP" fileLimit=1 [(ngModel)]="user.competenceFile" (ngModelChange)="handleFileCompetence(user)" [ngModelOptions]="{standalone: true}" (deletedFile)="removeDossier($event)"></input-file>
        <mat-card-actions>
          <div class="buttoncontainer">
            <button mat-icon-button routerLink="/users/{{user.id}}">RETOUR
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-button>Mettre à jour</button>
          </div>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </form>
</mat-card>
