.mat-button {
  background-color: black;
  color: white;
  margin: 1em;
}

mat-form-field {
  width: 80%;
}

textarea {
  height: 30em;
}

.mat-icon-button {
  color: black;
  margin: 6em;
}

@media only screen and (max-width: 768px) {

  .buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mat-icon-button  {
    margin: 1em;
    width: fit-content!important;
  }

}
