<div class="col s12 m12 l6">
  <div class="card-panel">
    <h4 class="text-center">Editer utilisateur</h4>
    <div class="row">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <label for="email" class="active">Email:</label>
            <input type="email" formControlName="email" placeholder="Email" name="email" class="validate" id="email">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="prenom" class="active">Prénom:</label>
            <input formControlName="prenom" placeholder="Prénom" name="prenom" class="validate" id="prenom">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="nom" class="active">Nom:</label>
            <input formControlName="nom" placeholder="Nom" name="lastName" class="validate" id="nom">
          </div>
        </div>
        <div *ngIf="currentUser.role=='ADMIN'" class="row">
          <div class="input-field col s12">
            <label for="role" class="active">Role:</label>
            <select formControlName="role" name="role" class="browser-default" id="role">
              <option value="ADMIN">ADMIN</option>
              <option value="USER" selected>UTILISATEUR</option>
            </select>
          </div>
        </div>
        <button class="btn btn-success">Mettre à jour</button>
      </form>
    </div>
  </div>
</div>
