.mat-button {
  background-color: black;
  color: white;
  margin: 1em;
}

mat-form-field {
  width: 50%;
}

.mat-icon-button {
  color: black;
  margin: 6em;
}

.login-image {
  max-width: 100%;
  height:auto;
}

.login-card {
  width: 80vw;
  margin: auto;
  justify-content: center;
}

mat-card {
  box-shadow: none!important;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  mat-card-title {
    position: relative;
    top: -466px;
    background-color: white;
    font-size: 3em;
    width: 20%;
    margin: auto;
  }

  mat-card-content {
    width: 50vw;
    position: relative;
    top: -436px;
    margin: auto;
  }
}

