<h2>Candidatures reçues:</h2>
<table class="bordered mat-elevation-z8">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de Naissance</th>
    <th>Email</th>
    <th>Adresse</th>
    <th>Code Postal</th>
    <th>Ville</th>
    <th>Mobile</th>
    <th>Téléphone Domicile</th>
    <th>Nationalité</th>
    <th>Lieu de Naissance</th>
    <th>Numéro INSEE</th>
    <th>Identifiant Skype</th>
    <th>Permis V</th>
    <th>Voiture</th>
    <th>Permis 2 Roues</th>
    <th>2 Roues</th>
    <th>Dernier Diplôme</th>
    <th>Langues étrangères</th>
    <th>Mobilité Géographique</th>
    <th>Référence 1</th>
    <th>Référence 2</th>
    <th>En Poste?</th>
    <th>Type de Contrat</th>
    <th>Préavis Négociable?</th>
    <th>Délai Préavis</th>
    <th>Ecoute du marché</th>
    <th>Poste souhaité</th>
    <th>Evolution 5 ans</th>
    <th>Date de Disponibilité</th>
    <th>Salaire brut - part fixe</th>
    <th>Salaire brut - part variable</th>
    <th>Prétentions salariales brut</th>
    <th>Fait à:</th>
    <th>Candidature envoyée:</th>
    <th>CV:</th>
    <th colspan="2">Refuser/Accepter?</th>
  </tr>
  </thead>
  <tbody>
  <tr app-contact-item *ngFor="let contact of contacts"
      [contact]="contact"
      (contactAccepted)="AcceptContact($event)"
      (contactDeleted)="RefuseContact($event)"
      (contactCV)="downloadCV($event)">
  </tr>
  </tbody>
</table>
