<h2>Candidatures spontanées reçues</h2>
<div style="width: 100vw;overflow: scroll">
<table class="bordered mat-elevation-z8" style="margin: auto;">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Poste Recherché</th>
    <th>Date de candidature</th>
    <th>CV:</th>
    <th colspan="2">Refuser/Accepter?</th>
    <th>Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr app-contact-item *ngFor="let contact of contacts"
      [contact]="contact"
      (contactAccepted)="AcceptContact($event)"
      (contactDeleted)="RefuseContact($event)"
      (contactDeletedNoMail)="DeleteContactNoMail($event)"
      (contactCV)="downloadCV($event)">
  </tr>
  </tbody>
</table>
  <mat-card *ngIf="!contacts"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="accent"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
