<!--<div class="card large">-->
<!--  <div class="card-content">-->
<!--    <div class="card-title black white-text">{{newsitem.titre}}<a *ngIf="currentUser.role == 'ADMIN'" class="activator waves-effect waves-light z-depth-4 right" [routerLink]="['/edit_news/', newsitem.id]">-->
<!--      <i class="material-icons" style="color: white;">edit</i>-->
<!--    </a></div>-->
<!--    <span class="mat-card-subtitle">Publié le {{newsitem.datePublication | date: 'dd/MM/yyyy à HH:mm'}} par {{ newsitem.auteur.prenom }} {{ newsitem.auteur.nom }}</span>-->
<!--    <p>{{newsitem.contenu}}</p>-->
<!--  </div>-->
<!--</div>-->

<mat-card style="border-radius: 15px;">
  <mat-card-header>
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" style="align-items: center;">
      <div style="font-weight: bold;vertical-align: center">{{newsitem?.titre}}</div>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image *ngIf="galleryImages.length == 1 && !newsitem.avatar" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/' + singleImg.imageJointeType + ';base64, '+ singleImg.imageJointe)" alt="" class="newsimage">
  <div style="width: 12em;height: 12em;position: relative;overflow: hidden;border-radius: 50%;margin: auto;margin-top: 2em;" *ngIf="galleryImages.length == 1 && newsitem.avatar"><img mat-card-image [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/' +singleImg.imageJointeType + ';base64, '+ singleImg.imageJointe)" alt="" class="newsavatar"></div>
  <ngx-gallery *ngIf="galleryImages.length>1" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" style="margin-top: 2em;"></ngx-gallery>
  <iframe *ngIf="videoCode" style="margin-top: 1em;" width="560" height="500" [src]="videoCode" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-card-content>
    <p [innerHTML]="createTextLinks_(newsitem?.contenu)">
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
    <button style="text-transform: none!important;color: black!important"   (click)="(isLiked)?deleteNewsFromList():addNewsToList();"
          class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect">
    <mat-icon>{{(isLiked)?'favorite':'favorite_border'}}</mat-icon> J'aime
  </button>
  <span *ngIf="likes?.length >0"> {{likes?.length}} {{ likes?.length <=1?'personne a aimé':'personnes ont aimé'}}</span>
</mat-card-actions>
  <mat-card-actions *ngIf="currentUser.role == 'ADMIN' && likes?.length>0" style="display: flex;flex-direction: column;margin-left: 1em;">
    <h6 mat-subheader>Les utilisateurs suivants ont aimé :</h6>
    <mat-chip-list style="display: flex;flex-direction: row;">
      <mat-chip *ngFor="let user of likes" color="primary">{{user.prenom}} {{user.nom}}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
  <mat-card-subtitle style="text-align: right;font-style: italic!important;">Publiée le {{newsitem?.datePublication | date: 'dd/MM/yyyy à HH:mm'}}<br>par {{ newsitem?.auteur.prenom }} {{ newsitem?.auteur.nom }} <button mat-icon-button [routerLink]="['/edit_news/', newsitem?.id]" *ngIf="currentUser.role == 'ADMIN'"><mat-icon>edit</mat-icon></button><button mat-icon-button (click)="deleteNews()" *ngIf="currentUser.role == 'ADMIN'"><mat-icon>delete</mat-icon></button></mat-card-subtitle>
</mat-card>
