th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 50vw;
}

.table-container {
  overflow: scroll;
}

td{
  padding: 0.5em !important;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 56px;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
}

.btn-floating {
  background-color: black;
  color: white;
}

.mat-fab {
  background-color: black;
  color: white;
  margin: 1em;
}

