<h2 style="align-self: center">Pack Collaborateurs:</h2>
<div *ngIf="currentUser.role=='ADMIN'" style="align-self: center;">
<!--
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
-->
  <input-file placeholder="Insérer un fichier..." fileLimit=1 [(ngModel)]="selectedFiles" (ngModelChange)="handleFile()" [ngModelOptions]="{standalone: true}"></input-file>
<!--  <div class="drop-box" ng2FileDrop-->
<!--       [ngClass]="{'dragover': isDropOver}"-->
<!--       [uploader]="uploader"-->
<!--       (fileOver)="fileOverAnother($event)"-->
<!--       (click)="fileClicked()">-->
<!--    <span class="drag-in-title">Cliquer ou déposer un fichier ici</span>-->
<!--    <span class="drag-over-title">Déposer le fichier</span>-->
<!--  </div>-->
</div>
<table class="bordered mat-elevation-z8" style="margin: auto; ">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Annee</th>
    <th>Télécharger</th>
    <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
    <th>Recevoir par mail</th>
  </tr>
  </thead>
  <tbody>
  <tr app-document-item *ngFor="let document of documents"
      [document]="document"
      (documentSelected)="selectDocument($event)"
      (documentDeleted)="deleteDocument($event)"
      (documentDownloaded)="getDocument($event)"
      (documentToSend)="sendDocumentByEmail($event)">
  </tr>
  </tbody>
</table>
<mat-card *ngIf="!documents"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

