<h2 style="align-self: center">Espace Téléchargement</h2>
<div *ngIf="currentUser.role=='ADMIN'" style="align-self: center;">
<!--
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
-->
  <input-file placeholder="Insérer un fichier..." fileLimit=1 [(ngModel)]="selectedFiles" (ngModelChange)="handleFile()" [ngModelOptions]="{standalone: true}"></input-file>
<!--  <div class="drop-box" ng2FileDrop-->
<!--       [ngClass]="{'dragover': isDropOver}"-->
<!--       [uploader]="uploader"-->
<!--       (fileOver)="fileOverAnother($event)"-->
<!--       (click)="fileClicked()">-->
<!--    <span class="drag-in-title">Cliquer ou déposer un fichier ici</span>-->
<!--    <span class="drag-over-title">Déposer le fichier</span>-->
<!--  </div>-->
</div>
<div class="table-container">
  <mat-paginator #top style="background-color: transparent;" [length]="length"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="OnPageChange($event, bottom);">
  </mat-paginator>
<table class="bordered mat-elevation-z8 tabledoc" style="margin: auto;" *ngIf="documents" #autoscroll>
  <thead>
  <tr>
    <th>Nom du fichier</th>
    <th>Année</th>
    <th class="hideOnMobile">Télécharger</th>
    <th>Visualiser</th>
    <th>Recevoir par mail</th>
    <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
  </tr>
  </thead>
  <tbody [dragula]="currentUser.role=='ADMIN'?'DOCUMENTS':null" [dragulaModel]="pagedDocuments" (dragulaModelChange)="changeOrder($event)" class="wrapper">
  <tr app-document-item *ngFor="let document of pagedDocuments"
      [document]="document"
      (documentSelected)="selectDocument($event)"
      (documentDeleted)="deleteDocument($event)"
      (documentDownloaded)="getDocument($event)"
      (documentOpened)="openDocument($event)"
      (documentToSend)="sendDocumentByEmail($event)"
      (documentToModify)="updateTitle($event)"
      [ngStyle]="{'cursor':currentUser.role=='ADMIN'?'grab':''}">
  </tr>
  </tbody>
</table>
  <mat-paginator #bottom style="background-color: transparent" [length]="length"
                 [pageSize]="pageSize"
                 showFirstLastButtons
                 (page)="OnPageChange($event, top);">
  </mat-paginator>
</div>
<!--<div #autoscroll [dragula]="'EXEMPLE'" class="wrapper">-->
<!--  <div>A</div>-->
<!--  <div>B</div>-->
<!--  <div>C</div>-->
<!--  <div>D</div>-->
<!--  <div>E</div>-->
<!--  <div>F</div>-->
<!--  <div>G</div>-->
<!--  <div>H</div>-->
<!--  <div>I</div>-->
<!--  <div>J</div>-->
<!--  <div>K</div>-->
<!--  <div>L</div>-->
<!--  <div>M</div>-->
<!--  <div>N</div>-->
<!--  <div>O</div>-->
<!--  <div>P</div>-->
<!--  <div>Q</div>-->
<!--  <div>R</div>-->
<!--  <div>S</div>-->
<!--</div>-->
<div *ngIf="!documents || sending"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

