.drop-box {
  cursor: pointer;
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 40px;
}

.drag-over-title {
  display: none;
}

.drop-box.dragover {
  opacity: 0.6;
}

.drop-box.dragover .drag-over-title {
  display: block;
}

.drop-box.dragover .drag-in-title {
  display: none;
}

input[type='file'] {
  display: none;
}

.mat-fab {
  background-color: black;
  color: white;
  margin: 1em;
}

.document-list {
  width: 80%;
  margin-bottom: 5%;
  justify-content: center;
}

td {
  padding: 15em!important;
}

th {
  padding: 1em!important;
}

.tabledoc {
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {

  table {
    margin: 0;
  }

  th {
    padding: 0.5em!important;
  }

  td {
    padding: 0.5em!important;
  }

  .table-container{
    /*width: fit-content!important;*/
    overflow-x: auto;
  }

  .tabledoc {
    width: fit-content!important;
  }

  .hideOnMobile {
    display: none;
  }
}

