<td>{{ contact.nom }}</td>
<td>{{ contact.prenom }}</td>
<td>{{ contact.email }}</td>
<td>{{ contact.mobile }}</td>
<td><ul *ngFor="let poste of contact.posteRecherche.split(', ')"><li>{{poste}}</li></ul></td>
<td>{{contact.dateCandidature | date: 'dd/MM/yyyy'}}</td>
<td>
  <button type="button" *ngIf="contact.fileBase64"
          (click)="downloadCV()"><i class="material-icons">file_download</i></button>
</td>
<td>
  <button type="button" *ngIf="!contact.accepte;else accepte"
          (click)="deleteContact()"><mat-icon>cancel</mat-icon></button>
</td>
<td>
  <button type="button" *ngIf="!contact.accepte;else accepte"
          (click)="acceptContact()"><mat-icon>check_circle</mat-icon></button>
</td>
<td>
  <button type="button"
          (click)="deleteContactWithoutMail()"><mat-icon>delete</mat-icon></button>
</td>
<ng-template #accepte>
  OK
</ng-template>
