.mat-button {
  background-color: black;
  color: white;
  margin: 1em;
}

.mat-button:disabled {
  background-color: black;
  color: gray!important;
  margin: 1em;
}

mat-form-field {
  width: 80%;
}

.mat-card-content {
  text-align: left!important;
  margin-top: 1em;
  white-space: pre-wrap;
}

textarea {
  height: 30em;
}

.mat-icon-button {
  color: black;
  margin: 1em;
  width: fit-content!important;
}

@media only screen and (min-width: 768px) {
  mat-form-field {
    width: 20vw;
  }
}
