<h1>
  Remplir ma fiche de présence
</h1>
<br>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    *ngIf="loading"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="!loading && !FicheEnvoyee" style="justify-content: space-evenly;display: flex" id="maincont">
<!--  <div style="border: 1px solid;width: 75vw;height: 60vh; text-align: left;" >
    <div style="border: 1px solid;width: 10vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine">{{d}}</div>
    <div style="border:0px solid;height: 10vh;width: 10vw;display: inline-block;" *ngFor="let i of creatArray(addCells())"></div>
    <div (mousedown)="addRemoveDay(day);mouseDown = true" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day):''" *ngFor="let day of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" style="border:2px solid;height: 10vh;width: 10vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':checkDay(day)?'orange':checkWeekends(day)?'grey':''}">
      <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 2em" >{{day | date:'d'}}</span>
    </div>
  </div>-->
<div id="cont">
  <div style="display: flex;justify-content: space-evenly;align-content: space-evenly;">
  <button mat-button (click)="plage = !plage;firstDay = null;firstClick=false;showToastr();" style="background-color: black;" class="selectbut"><span *ngIf="!plage">Sélection de plages de dates</span><span *ngIf="plage">Sélection de date unique</span></button>
  <button mat-button (click)="daysOff = [];plage = false;firstDay = null;firstClick=false;" style="background-color: black;" class="selectbut">Réinitialiser le calendrier</button>
  </div>
  <div id="capture">
  <div style="border: none;width: 35vw;height: 32vh; text-align: left;" id="calendrier">
    <h1 style="text-align: center">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</h1>
    <div style="border: 1px solid;width: 5vw;height: 2em; display: inline-block; text-align: center;vertical-align: center;" *ngFor="let d of joursDeLaSemaine" class="daysofweek">{{d}}</div>
    <div style="border:0px solid;height: 5vh;width: 5vw;display: inline-block;" *ngFor="let i of creatArray(addCells())" class="caldivs"></div>
    <div (mousedown)="addRemoveDay(day);mouseDown = true;" (mouseup)="mouseDown = false" (mouseleave)="mouseDown? addRemoveDay(day):''" *ngFor="let day of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())"
         style="border:2px solid;height: 5vh;width: 5vw;display: inline-block;position: relative;" [ngStyle]="{'background-color':getDayColor(day)}" class="caldivs">
      <div [matTooltip]="getAbsTypeLong(toMomentFormat(day))" class="insidegrid">
        <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 1em" class="dayc">{{day | date:'d'}}</span>
        <span style="position: absolute;top:1vh;right: 2vw;font-size: 1.2em" class="typec">{{getAbsHalfDay(toMomentFormat(day))}} {{getAbsTypeShort(toMomentFormat(day))}} <!--{{toMomentFormat(day)}}--></span>
<!--        <span class="dayc">{{day | date:'d'}}</span>-->
<!--        <span class="typec">{{getAbsHalfDay(toMomentFormat(day))}} {{getAbsTypeShort(toMomentFormat(day))}} &lt;!&ndash;{{toMomentFormat(day)}}&ndash;&gt;</span>-->
      </div>
<!--      <span style="position: absolute;top:0.5em;right: 0.5em;font-size: 1em" >{{day | date:'d'}}</span>-->
<!--      <span style="position: absolute;top:2em;right: 0.5em;font-size: 0.8em">{{f.value[toMomentFormat(day)+' boolean']?'1/2':''}} {{absShort[absences.indexOf(f.value[toMomentFormat(day)])]}}</span>-->
    </div>
  </div>
  </div>
  <br>
  <div *ngIf="!FicheEnvoyee" style="margin-top: 5em;" id="resum">
    <div id="goDown"><span>{{countSelectedDays()}}</span><button mat-button (click)="ScrollDown()" style="background-color: black!important;color: white!important;">Types d'absence<mat-icon>arrow_downward</mat-icon></button></div>
    <p><span matPrefix>Jours ouvrés : </span><span>{{joursOuvres().length}}</span></p>
    <p><span matPrefix>Jours travaillés : </span><span>{{joursOuvres().length - countJoursNonTravailles(f)}}</span></p>
<!--    <p><span matPrefix>RTT Employeur: </span><span *ngIf="f.value">{{ countRTTE(f) }}</span></p>-->
<!--    <p><span matPrefix>RTT Salarié : </span><span *ngIf="f.value">{{ countRTTS(f) }}</span></p>-->
    <p *ngIf="countRTT()>0"><span matPrefix>RTT Salarié : </span><span *ngIf="f.value">{{ countRTT() }}</span></p>
    <p *ngIf="countConges(f)>0"><span matPrefix>Congés Payés : </span><span *ngIf="f.value">{{ countConges(f) }}</span></p>
    <p *ngIf="countAbsences(f)>0"><span matPrefix>Absences exceptionnelles : </span><span *ngIf="f.value">{{ countAbsences(f) }}</span></p>
    <p *ngIf="countFormation(f)>0"><span matPrefix>Formation : </span><span *ngIf="f.value">{{ countFormation(f) }}</span></p>
    <p *ngIf="countInterContrat(f)>0"><span matPrefix>Intercontrat : </span><span *ngIf="f.value">{{ countInterContrat(f) }}</span></p>
    <p *ngIf="countSansSolde(f)>0"><span matPrefix>Congés Sans Solde : </span><span *ngIf="f.value">{{ countSansSolde(f) }}</span></p>
    <p *ngIf="countMaladie(f)>0"><span matPrefix>Arrêt Maladie : </span><span *ngIf="f.value">{{ countMaladie(f) }}</span></p>
  </div>
</div>

<!--  <mat-card class="calendar-card">
  <mat-card-title>
    {{dateNow.getFullYear()}}
  </mat-card-title>
&lt;!&ndash;  <mat-month-view [dateFilter]="dateFilter" [activeDate]="dateNow" #calendar (selectedChange)="addRemoveDay($event)" (selected)="SelectCell($event)">&ndash;&gt;
&lt;!&ndash;  </mat-month-view>&ndash;&gt;
</mat-card>-->

<div style="width: 60vw" id="choice">
  <div id="formulaire">
    <form (ngSubmit)="sendFiche(f)" #f="ngForm" id="detailform">
        <div style="display: flex;flex-direction: column;align-items: baseline;width:fit-content;margin: auto;">
          <mat-checkbox [checked]="enMission" (change)="enMission = $event.checked.valueOf();fiche.numeroAffaire1 = '';fiche.numeroAffaire2 = '';addedMission = false;">En Mission</mat-checkbox>
          <mat-checkbox [checked]="enIntercontrat" (change)="enIntercontrat = $event.checked.valueOf()">En Intercontrat</mat-checkbox>
        </div>
      <div *ngIf="enIntercontrat" style="display: flex;flex-direction: row;align-items: baseline;justify-items:center;width:fit-content;margin: auto;">Déclarez sur le calendrier vos jours d'Intercontrat</div>
      <div *ngIf="justifManquant" style="color: red;font-weight: bold;margin-bottom: 2em;">Vous avez déclaré une absence exceptionnelle sans fournir de justificatif.<br>
        Merci de nous fournir un justificatif dans les meilleurs délais.</div>
        <mat-form-field *ngIf="enMission" style="width: auto;padding-bottom: 2em;" id="mainMission">
          <input matInput placeholder="Numéro d'Affaire" [(ngModel)]="fiche.numeroAffaire1" [required]="enMission" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      <a *ngIf="enMission" mat-button style="color: white!important;background-color: black!important;margin-bottom: 1em;" (click)="showHiddenMission();">{{addedMission?"Retirer la 2ème mission":"Ajouter une 2ème mission"}}</a>
      <mat-form-field *ngIf="enMission" id="hiddenMission" style="width: auto;padding-bottom: 2em;display: none;">
        <input matInput placeholder="Numéro d'Affaire 2" [(ngModel)]="fiche.numeroAffaire2" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div style="display: flex;flex-direction: row;flex-wrap: wrap;">
      <div *ngFor="let dayOff of daysOff; index as i" class="formcontainer">
        <div *ngIf="isArray(dayOff)">
          <div *ngFor="let d of dayOff;index as j" [hidden]="j!=0" class="champs">
            <span style="padding-top: 1em">Du {{dayOff[0].date}} au {{dayOff[dayOff.length-1].date}}</span>
            <mat-form-field>
              <input matInput #raison [(ngModel)]="d.typeConge" [name]="d.date" required readonly>
            </mat-form-field>
            <mat-form-field class="commentaires">
              <input matInput placeholder="Commentaire facultatif" [(ngModel)]="d.commentaires" [name]="d.date + ' comm'">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!isArray(dayOff)" class="champs">
          <mat-form-field>
            <span class="prefix" matPrefix>{{dayOff.date}}</span>
<!--            <mat-select #raison [(ngModel)]="dayOff.typeConge" [name]="dayOff.date" required placeholder="type d'absence">-->
<!--              <mat-option *ngFor="let absence of absences | slice: 6" [value]="absence">-->
<!--                {{absence}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
            <input matInput #raison [(ngModel)]="dayOff.typeConge" [name]="dayOff.date" required readonly>
          </mat-form-field>
          <mat-checkbox [checked]="dayOff.demiJournee" (change)="dayOff.demiJournee = $event.checked.valueOf()" [name]="dayOff + ' boolean'">Demi-journée ?</mat-checkbox>
        <br>
        <mat-form-field class="commentaires">
          <input matInput placeholder="Commentaires {{(raison.value&&raison.value !== 'Absence exceptionnelle'?'facultatif':'')}}" [(ngModel)]="dayOff.commentaires" [name]="dayOff.date + ' comm'" [required]="raison.value === 'Absence exceptionnelle'">
        </mat-form-field>
        </div>
      </div>
      </div>
      <button mat-raised-button type="submit" [disabled]="f.invalid || sending || (fiche.numeroAffaire1 == '' && enMission) || (enMission == false && enIntercontrat == false) || (daysOff.length == 0 && enIntercontrat)" id="envoyerbut">Envoyer</button>
    </form>
    <div style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        *ngIf="sending"
        color="accent"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
  </div>
</div>
<div *ngIf="FicheEnvoyee" id="final">
  Fiche de présence du mois de {{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}} envoyée
</div>
