<h2>Utilisateurs:</h2>
<div class="align-content-center" style="margin: 2em;"><a *ngIf="currentUser.role=='ADMIN'" class="btn-floating btn-large waves-effect waves-light scale-transition" routerLink="/add_users"><i class="material-icons">add</i></a>
</div>
<table class="bordered mat-elevation-z8">
  <thead>
  <tr>
    <th>Email</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Status</th>
    <th>Date d'inscription</th>
    <th>Détails</th>
    <th *ngIf="currentUser.role=='ADMIN'">Éditer</th>
    <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr app-user-item *ngFor="let user of users"
                    [user]="user"
                    (userSelected)="selectUser($event)"
                    (userDeleted)="deleteUser($event)">
    </tr>
  </tbody>
</table>
<mat-card *ngIf="!users"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
