<h2 style="align-self: center">Utilisateurs:</h2>
<button *ngIf="currentUser.role == 'ADMIN'" mat-fab routerLink="/add_users"><mat-icon>add</mat-icon></button>
<div>
  <table class="bordered mat-elevation-z8" style="margin: auto; ">
    <thead>
    <tr>
      <th>Email</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Status</th>
      <th>Fonction</th>
      <th>Congés N-1</th>
      <th>Congés N</th>
      <th>RTT</th>
      <th>Congé Ancienneté</th>
      <th>Date d'inscription</th>
      <th>Détails</th>
      <th *ngIf="currentUser.role=='ADMIN'">Modifier</th>
      <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr app-user-item *ngFor="let user of users"
        [user]="user"
        (userSelected)="selectUser($event)"
        (userDeleted)="deleteUser($event)">
    </tr>
    </tbody>
  </table>
</div>
<mat-card *ngIf="!users"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
