<h2 *ngIf="currentUser.fonction ==='RH' || currentUser.fonction ==='DIRECTION'" style="margin-top: 2em;">Fiches de présence des collaborateurs</h2>
<mat-tab-group>
  <mat-tab label="Validation des fiches">
    <div style="margin-top: 2em;margin-bottom: 1em;">
      <div>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);allFiches=[];usersWithFiche = [];usersWithoutFiche=[];validatedFichesCount = 0;getAllFiches();" style="border: none;"><mat-icon style="color: black">chevron_left</mat-icon></button><span style="font-weight: bold">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</span>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);allFiches=[];usersWithFiche = [];usersWithoutFiche=[];validatedFichesCount = 0;getAllFiches();" style="border: none;"><mat-icon style="color: black">chevron_right</mat-icon></button>
      </div>
      <p *ngIf="allFiches.length==0 && !loading">Pas de fiches pour ce mois-ci</p>
      <div *ngIf="allFiches.length>0 && !loading" style="display: flex;flex-direction: row;justify-content: space-evenly;margin-bottom: 1em;font-weight: bolder;font-size: 1.2em;">
        <div><span style="text-decoration: underline">Fiches reçues</span> : {{allFiches?.length}}/{{users?.length - 3}}</div>
        <div><span style="text-decoration: underline">Fiches validées</span> : {{validatedFichesCount}}/{{users?.length - 3}}</div>
      </div>
      <div style="margin-bottom: 1em;display: flex;flex-direction: column;align-items: center;" *ngIf="allFiches.length>0 && !loading && usersWithoutFiche.length !=0">
        <h6 mat-subheader>Les utilisateurs suivants n'ont pas encore envoyé leur fiche de présence :</h6>
        <mat-chip-list style="display: flex;flex-direction: row;">
          <mat-chip *ngFor="let user of usersWithoutFiche" color="primary">{{user.prenom}} {{user.nom}}</mat-chip>
        </mat-chip-list>
      </div>
      <table *ngIf="(currentUser.fonction ==='RH' || currentUser.fonction ==='DEVELOPPEUR') && allFiches.length!=0" class="bordered mat-elevation-z8" style="margin: auto; ">
        <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Trigramme</th>
          <th>Mois</th>
          <th>Année</th>
          <th>Validée RH</th>
          <th>Télécharger</th>
          <th>Visualiser</th>
          <th>Supprimer une fiche</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fiche of allFiches">
          <td>{{fiche.user.prenom}}</td>
          <td>{{fiche.user.nom}}</td>
          <td>{{fiche.user.trigramme}}</td>
          <td>{{changeCaseFirstLetter(fiche.mois)}}</td>
          <td>{{fiche.annee}}</td>
          <td>
            <button type="button" *ngIf="!fiche.valideRH;else valid"
                    (click)="validateFicheRH(fiche)" matTooltip="Valider la fiche"><mat-icon>check_circle</mat-icon></button>
            <button type="button" *ngIf="!fiche.valideRH"
                    (click)="refuseFicheRH(fiche)" matTooltip="Refuser la fiche"><mat-icon>close_circle</mat-icon></button>
          </td>
          <ng-template #valid>
            <mat-icon>check</mat-icon>
          </ng-template>
          <td>
            <button type="button"
                    (click)="downloadDocument(fiche)" matTooltip="Télécharger la fiche"><i class="material-icons">file_download</i></button>
          </td>
          <td>
            <button type="button"
                    (click)="openDocument(fiche)" matTooltip="Visualiser la fiche"><i class="material-icons">remove_red_eye</i></button>
          </td>
          <td>
            <button type="button"
                    (click)="refuseFicheRH(fiche)" matTooltip="Supprimer la fiche"><i class="material-icons">delete</i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-card *ngIf="!allFiches || loading"
                style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
          color="accent"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Résumé">
    <div style="margin-top: 2em;">
      <div>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);allFiches=[];getAllFiches();" style="border: none;"><mat-icon style="color: black">chevron_left</mat-icon></button><span style="font-weight: bold">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</span>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);allFiches=[];getAllFiches();" style="border: none;"><mat-icon style="color: black">chevron_right</mat-icon></button>
      </div>
      <p *ngIf="allFiches.length==0 && !loading">Pas de fiches pour ce mois-ci</p>
      <div style="margin: 1em;">Légende : C.P : Congés Payés | RTT: Réduction du Temps de Travail  | A.M : Arrêt Maladie | A.E : Absences Exceptionnelles | C.S.S : Congés Sans Solde | F : Formation | I : Intercontrat</div>
    <table *ngIf="(currentUser.fonction ==='RH' || currentUser.fonction ==='DEVELOPPEUR') && allFiches.length!=0" class="bordered mat-elevation-z8 resume table-responsive">
      <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Trigramme</th>
        <th>Nb Jours Travaillés</th>
        <th>C.P</th>
        <th>RTT</th>
        <th>A.M</th>
        <th>A.E</th>
        <th>C.S.S</th>
        <th>F</th>
        <th>I</th>
        <th>Jours Ouvrés</th>
        <th>Commentaires</th>
        <th>Validé RH</th>
        <th>commentaireSup</th>
        <th>Date de Réception</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fiche of allFiches">
        <td>{{fiche.user.prenom}}</td>
        <td>{{fiche.user.nom}}</td>
        <td>{{fiche.user.trigramme}}</td>
        <td>{{fiche.joursTravailles}}</td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.conges}}</h3>
            <div class="dates">
              <mat-list-item *ngFor="let cp of getCP(fiche.commentaires)">
                <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
                <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
              </mat-list-item>
            </div>
          </mat-list>
        </td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.rtts + fiche.rtte }}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getRTT(fiche.commentaires)">
              <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
              <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
            </div>
          </mat-list>
        </td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.maladie}}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getMaladie(fiche.commentaires)">
              <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
              <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
            </div>
          </mat-list>
        </td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.absences}}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getAbsences(fiche.commentaires)">
            <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
            <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
            </div>
          </mat-list>
        </td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.congesSansSolde}}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getCSS(fiche.commentaires)">
            <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
            <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
            </div>
          </mat-list></td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.formation}}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getFormation(fiche.commentaires)">
            <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
            <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
            </div>
          </mat-list>
        </td>
        <td>
          <mat-list dense>
            <h3 mat-subheader>Total : {{fiche.intercontrat}}</h3>
            <div class="dates">
            <mat-list-item *ngFor="let cp of getIntercontrat(fiche.commentaires)">
            <p *ngIf="!isArray(cp)" mat-line>{{cp.date}} {{cp.type != " "?" : "+cp.type:''}}</p>
            <p *ngIf="isArray(cp)" mat-line>Du {{cp[0].date}} au {{cp[cp.length-1].date}}</p>
            </mat-list-item>
              </div >
          </mat-list>
        </td>
        <td>{{fiche.joursOuvres}}</td>
        <td>
          <mat-list dense>
              <ng-template ngFor let-item [ngForOf]="objectKeys(fiche.commentaires)">
                <mat-list-item class="item" *ngIf="fiche?.commentaires[item]?.length">
                  <p mat-line>{{item + ' : ' + fiche.commentaires[item]}}</p>
                </mat-list-item>
              </ng-template>
<!--            <mat-list-item *ngFor="let com of objectKeys(fiche.commentaires)">-->
<!--              <p *ngIf="fiche.commentaires[com] != null && fiche.commentaires[com] != ''" mat-line>{{com}} : {{fiche.commentaires[com]}}</p>-->
<!--            </mat-list-item>-->
          </mat-list>
        </td>
        <td>{{fiche.valideRH? 'oui': 'non'}}</td>
        <td>{{fiche.commentaireSup}}</td>
        <td>{{fiche.datePublication | date: 'dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
      <mat-card *ngIf="!allFiches || loading"
                style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
          color="accent"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

