<h2 *ngIf="currentUser.fonction ==='RH' || currentUser.fonction ==='DIRECTION'" style="margin-top: 2em;">Fiches de présence des collaborateurs:</h2>
<mat-tab-group>
  <mat-tab label="Validation des fiches">
    <div style="margin-top: 2em;">
      <div>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);getAllFiches();" style="border: none;"><mat-icon style="color: black">arrow_left</mat-icon></button>{{nomsDesMois[dateNow.getMonth()]}} {{dateNow.getFullYear()}}
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);getAllFiches();" style="border: none;"><mat-icon style="color: black">arrow_right</mat-icon></button>
      </div>
      <p *ngIf="allFiches.length==0">Pas de fiches pour ce mois-ci</p>
      <table *ngIf="currentUser.fonction ==='RH' && allFiches.length!=0" class="bordered mat-elevation-z8" style="margin: auto; ">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Trigramme</th>
          <th>Mois</th>
          <th>Année</th>
          <th>Validée RH</th>
          <th>Télécharger</th>
          <th>Supprimer une fiche</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fiche of allFiches">
          <td>{{fiche.user.nom}}</td>
          <td>{{fiche.user.prenom}}</td>
          <td>{{fiche.user.trigramme}}</td>
          <td>{{fiche.mois}}</td>
          <td>{{fiche.annee}}</td>
          <td>
            <button type="button" *ngIf="!fiche.valideRH;else valid"
                    (click)="validateFicheRH(fiche)" matTooltip="Valider la fiche"><mat-icon>check_circle</mat-icon></button>
            <button type="button" *ngIf="!fiche.valideRH"
                    (click)="refuseFicheRH(fiche)" matTooltip="Refuser la fiche"><mat-icon>close_circle</mat-icon></button>
          </td>
          <ng-template #valid>
            <mat-icon>check</mat-icon>
          </ng-template>
          <td>
            <button type="button"
                    (click)="downloadDocument(fiche)" matTooltip="Télécharger la fiche"><i class="material-icons">file_download</i></button>
          </td>
          <td>
            <button type="button"
                    (click)="refuseFicheRH(fiche)" matTooltip="Supprimer la fiche"><i class="material-icons">delete</i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-card *ngIf="!allFiches"
                style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
          color="accent"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Résumé">
    <div style="overflow-x: auto;margin-top: 2em;">
      <div>
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);allFiches=[];getAllFiches();" style="border: none;"><mat-icon style="color: black">arrow_left</mat-icon></button>{{nomsDesMois[dateNow.getMonth()]}} {{dateNow.getFullYear()}}
        <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);allFiches=[];getAllFiches();" style="border: none;"><mat-icon style="color: black">arrow_right</mat-icon></button>
      </div>
      <p *ngIf="allFiches.length==0">Pas de fiches pour ce mois-ci</p>
    <table *ngIf="currentUser.fonction ==='RH' && allFiches.length!=0" class="bordered mat-elevation-z8 resume" style="margin: auto;">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Trigramme</th>
        <th>Nb Jours Travaillés</th>
        <th>Congés Payés</th>
        <th>RTT</th>
        <th>Arrêt Maladie</th>
        <th>Absences Exceptionnelles</th>
        <th>Congés Sans Solde</th>
        <th>Formation</th>
        <th>Intercontrat</th>
        <th>Jours Ouvrés</th>
        <th>Commentaires</th>
        <th>Validé RH</th>
        <th>commentaireSup</th>
        <th>Date de Réception</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fiche of allFiches">
        <td>{{fiche.user.nom}}</td>
        <td>{{fiche.user.prenom}}</td>
        <td>{{fiche.user.trigramme}}</td>
        <td>{{fiche.joursTravailles}}</td>
        <td>{{fiche.conges}}</td>
        <td>{{fiche.rtts + fiche.rtte }}</td>
        <td>{{fiche.maladie}}</td>
        <td>{{fiche.absences}}</td>
        <td>{{fiche.congesSansSolde}}</td>
        <td>{{fiche.formation}}</td>
        <td>{{fiche.intercontrat}}</td>
        <td>{{fiche.joursOuvres}}</td>
        <td><ul *ngFor="let com of objectKeys(fiche.commentaires)"><li *ngIf="fiche.commentaires[com] != null && fiche.commentaires[com] != ''">{{com}} : {{fiche.commentaires[com]}}</li></ul></td>
        <td>{{fiche.valideRH? 'oui': 'non'}}</td>
        <td>{{fiche.commentaireSup}}</td>
        <td>{{fiche.datePublication | date: 'dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </mat-tab>
</mat-tab-group>

