<h2>Mes Fiches de présence:</h2>

<div style="margin-top: 2em;">
  <p *ngIf="fiches?.length == 0">Pas de fiches disponibles</p>
  <table class="bordered mat-elevation-z8" style="margin: auto; " *ngIf="fiches && fiches?.length !=0">
    <thead>
    <tr>
      <th>Mois</th>
      <th>Année</th>
      <th>Validée RH</th>
      <th colspan="2">Télécharger</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fiche of fiches">
      <td>{{fiche.mois}}</td>
      <td>{{fiche.annee}}</td>
      <td><mat-icon *ngIf="fiche.valideRH; else unvalid">check</mat-icon></td>
      <td>
        <button type="button"
                (click)="downloadDocument(fiche)" matTooltip="Télécharger la fiche"><i class="material-icons">file_download</i></button>
      </td>
      <ng-template #unvalid>
        <mat-icon>access_time</mat-icon>
      </ng-template>
    </tr>
    </tbody>
  </table>
  <mat-card *ngIf="!fiches"
            style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="accent"
      mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
