<td>{{ mission.intitule }}</td>
<td>{{ mission.client }}</td>
<td>{{ mission.datePublication | date: 'dd/MM/yyyy, HH:mm' }}</td>
<td>{{ mission.duree }} mois</td>
<td>{{ mission.jobDesc }}</td>
<td><a [routerLink]="['/missions/', mission.id]">Détail</a></td>
<td *ngIf="currentUser.role=='ADMIN'"><a [routerLink]="['/edit_mission/', mission.id]">Modifier</a></td>
<td *ngIf="currentUser.role=='ADMIN'">
  <button type="button"
          (click)="deleteMission()"><i class="material-icons">delete</i></button>
</td>
<td>
  <button style="text-transform: none!important;color: black!important"   (click)="(isFavorite)?deleteMissionFromList():addMissionToList();"
          class="mdl-button mdl-js-button  mdl-button--accent mdl-js-ripple-effect">
    <i class="material-icons">{{(isFavorite)?'favorite':'favorite_border'}}</i>
  </button>
</td>
<td>
  <button *ngIf="currentUser.role=='ADMIN'" type="button"
          (click)="archiveMission()"><i class="material-icons">archive</i></button>
</td>
