<td>{{ mission.intitule }}</td>
<td>{{ mission.client }}</td>
<td>{{ mission.datePublication | date: 'dd/MM/yyyy, HH:mm' }}</td>
<td>{{ mission.duree }} mois</td>
<td>{{ mission.jobDesc }}</td>
<td><a [routerLink]="['/missions/', mission.id]">Détail</a></td>
<td *ngIf="currentUser.role=='ADMIN'"><a [routerLink]="['/edit_mission/', mission.id]">Editer</a></td>
<td *ngIf="currentUser.role=='ADMIN'">
  <button type="button"
          (click)="deleteMission()"><i class="material-icons">delete</i></button>
</td>
<td>
  <button *ngIf="!isFavorite && mission.status ==1" type="button"
          (click)="addMissionToList()"><i class="material-icons">favorite_border</i></button>
  <button *ngIf="isFavorite && mission.status ==1" type="button"
          (click)="deleteMissionFromList()"><i class="material-icons">favorite</i></button>
</td>
<td>
  <button *ngIf="currentUser.role=='ADMIN'" type="button"
          (click)="archiveMission()"><i class="material-icons">archive</i></button>
</td>
