<li>
  <h4>Mission : {{ mission.intitule }}</h4>
  <p> Mis à jour : {{ lastUpdate | async | date: 'short' }} </p>
  -- Client : {{ mission.client }}
  -- Date: : {{ mission.datePublication | date: 'short' }}
  -- Durée : {{ mission.duree }}
  -- Desc: : {{ mission.jobDesc }}
    -- Statut : {{ mission.status }}
  <a [routerLink]="['/missions/', mission.id]">Détail</a>
  <a [routerLink]="['/edit_mission/', mission.id]">Editer</a>
  <button type="button"
          (click)="deleteMission()"
          class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
</li>
