<h2>Congés demandés par les collaborateurs</h2>
<mat-tab-group>
  <mat-tab label="Validation">
    <div style="display: flex;flex: available;justify-content: space-evenly;">
        <mat-tab-group>
          <mat-tab label="Congés en attente">
            <div style="display: flex; justify-content: center; align-items: center" *ngIf="loading">
              <mat-progress-spinner
                *ngIf="loading"
                color="accent"
                mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div style="margin-top: 2em;" *ngIf="!loading">
            <h3>Congés en attente de validation</h3>
              <mat-chip-list>
                <mat-chip *ngFor="let i of monthArr" style="background-color: black;color: white;" (click)="dateNow.setMonth(nomsDesMois.indexOf(i.split(' ')[0]));dateNow.setFullYear(i.split(' ')[1]);congesNonValides = [];getNonValidatedConges();">{{i}}</mat-chip>
              </mat-chip-list>
<!--              <span *ngFor="let i of monthArr">-->
<!--                {{nomsDesMois[i]}}-->
<!--              </span>-->
              <mat-form-field>
                <span class="prefix" matPrefix style="padding: 2em;">Selectionnez un collaborateur </span>
                <mat-select [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}" (ngModelChange)="loading = true;getNonValidatedConges()" placeholder="Liste des collaborateurs">
                  <mat-option [value]="null">Tous les utilisateurs</mat-option>
                  <mat-option *ngFor="let u of users" [value]=u>{{u.prenom}} {{u.nom}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div style="display: flex;justify-content: center;">
                <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);congesNonValides = [];getNonValidatedConges();" style="border: none;"><mat-icon style="color: black">arrow_left</mat-icon></button><h3 style="text-align: center">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</h3>
                <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);congesNonValides = [];getNonValidatedConges();" style="border: none;"><mat-icon style="color: black">arrow_right</mat-icon></button>
              </div>
              <div *ngIf="congesNonValides.length == 0 && !monthLoading">
                Pas de congés en attente de validation
              </div>
              <div *ngIf="congesNonValides.length >0">
            <table class="bordered mat-elevation-z8" id="enattente" style="margin: auto; ">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Trigramme</th>
                <th>Date</th>
                <th>Demi-journée</th>
                <th>Type de congé</th>
                <th>Validé RH</th>
                <th>Commentaires</th>
                <th>Justificatif reçu</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let conge of congesNonValides">
                <td>{{conge.user.nom}}</td>
                <td>{{conge.user.prenom}}</td>
                <td>{{conge.user.trigramme}}</td>
                <td>{{conge.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{conge.demiJournee ? 'oui' : 'non'}}</td>
                <td>{{conge.typeConge}}</td>
                <td>
                  <button type="button" *ngIf="!conge.valideRH;else valid"
                          (click)="validateCongeRH(conge)" matTooltip="Valider le congé">
                    <mat-icon>check_circle</mat-icon>
                  </button>
                  <button type="button" *ngIf="!conge.valideRH"
                          (click)="refuseCongeRH(conge)" matTooltip="Refuser le congé">
                    <mat-icon>close_circle</mat-icon>
                  </button>
                </td>
                <td>{{conge.commentaires}}</td>
                <td><mat-checkbox [(ngModel)]="conge.justificatifRecu" *ngIf="conge.typeConge == 'Absence Exceptionnelle'" (change)="updateModel(conge)"></mat-checkbox><span *ngIf="conge.typeConge != 'Absence Exceptionnelle'"> - </span></td>
                <ng-template #valid>
                  <mat-icon>ckeck</mat-icon>
                </ng-template>
              </tr>
              </tbody>
            </table>
              <div style="display: flex;justify-content: space-around;">
                <button mat-icon-button type="button" *ngIf="congesNonValides"
                                                                (click)="validateAllCongeRH()" matTooltip="Valider tous les congés">
                <mat-icon>check_circle</mat-icon> Tout valider
              </button>
                <button mat-icon-button type="button" *ngIf="congesNonValides"
                        (click)="refuseAllCongeRH()" matTooltip="Refuser tous les congés">
                  <mat-icon>close_circle</mat-icon> Tout refuser
                </button>
              </div>
              </div>
            <div *ngIf="monthLoading"
                      style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner
                color="accent"
                mode="indeterminate">
              </mat-progress-spinner>
            </div>
      </div>
          </mat-tab>
          <mat-tab label="Congés validés" (click)="congesValides=[];getValidatedConges()">
            <mat-form-field>
              <span class="prefix" matPrefix style="padding: 2em;">Selectionnez un collaborateur </span>
              <mat-select [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}" (ngModelChange)="getValidatedConges()" placeholder="Liste des collaborateurs">
                <mat-option *ngFor="let u of users" [value]=u>{{u.prenom}} {{u.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div style="margin-top: 2em;">
              <h3>Congés validés</h3>
              <div style="display: flex;justify-content: center;">
                <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);congesValides = [];getValidatedConges();" style="border: none;"><mat-icon style="color: black">arrow_left</mat-icon></button><h3 style="text-align: center">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</h3>
                <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);congesValides = [];getValidatedConges();" style="border: none;"><mat-icon style="color: black">arrow_right</mat-icon></button>
              </div>
              <table class="bordered mat-elevation-z8" id="valide" style="margin: auto; ">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Trigramme</th>
                  <th>Date</th>
                  <th>Demi-journée</th>
                  <th>Type de congé</th>
                  <th>Validée RH</th>
                  <th>Commentaires</th>
                  <th>Justificatif reçu</th>
                  <th>Supression</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let conge of congesValides">
                  <td>{{conge.user.nom}}</td>
                  <td>{{conge.user.prenom}}</td>
                  <td>{{conge.user.trigramme}}</td>
                  <td>{{conge.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{conge.demiJournee ? 'oui' : 'non'}}</td>
                  <td>{{conge.typeConge}}</td>
                  <td>
                    <mat-icon *ngIf="conge.valideRH; else unvalid">check</mat-icon>
                  </td>
                  <td>{{conge.commentaires}}</td>
                  <td><mat-checkbox [(ngModel)]="conge.justificatifRecu" *ngIf="conge.typeConge == 'Absence Exceptionnelle'" (change)="updateModel(conge)"></mat-checkbox><span *ngIf="conge.typeConge != 'Absence Exceptionnelle'"> - </span></td>
                  <td>
                    <button mat-icon-button
                          (click)="supprimerConge(conge)" matTooltip="Supprimer le congé">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </td>
                  <ng-template #unvalid>
                    <mat-icon>close</mat-icon>
                  </ng-template>
                </tr>
                </tbody>
              </table>
              <div *ngIf="!congesValides"
                        style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner
                  color="accent"
                  mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Justificatifs d'absences">
            <div style="margin-top: 2em;">
              <h3>Justificatifs reçus</h3>
              <div style="display: flex;justify-content: center;">
                <button mat-button (click)="dateNowFile.setFullYear(dateNowFile.getFullYear()-1);getCongesWithFile();" style="border: none;"><mat-icon style="color: black">arrow_left</mat-icon></button><h3 style="text-align: center">{{dateNowFile.getFullYear()}}</h3>
                <button mat-button (click)="dateNowFile.setFullYear(dateNowFile.getFullYear()+1);getCongesWithFile();" style="border: none;"><mat-icon style="color: black">arrow_right</mat-icon></button>
              </div>
              <table class="bordered mat-elevation-z8" style="margin: auto; ">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Trigramme</th>
                  <th>Validée RH</th>
                  <th>Commentaires</th>
                  <th>Justificatif reçu</th>
                  <th>Mois</th>
                  <th>Type d'absence</th>
                  <th>Télécharger</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let conge of congesWithFile">
                  <td>{{conge.user.nom}}</td>
                  <td>{{conge.user.prenom}}</td>
                  <td>{{conge.user.trigramme}}</td>
                  <td>
                    <mat-icon *ngIf="conge.valideRH; else unvalid">check</mat-icon>
                  </td>
                  <td>{{conge.commentaires}}</td>
                  <td><mat-checkbox [(ngModel)]="conge.justificatifRecu" (change)="updateModel(conge)"></mat-checkbox></td>
                  <td>{{nomsDesMois[(conge.date | date:'MM')-1]}}</td>
                  <td>{{conge.typeCe}}</td>
                  <td>
                    <button type="button"
                            (click)="downloadDocument(conge)"><i class="material-icons">file_download</i></button>
                  </td>
                  <ng-template #unvalid>
                    <mat-icon>close</mat-icon>
                  </ng-template>
                </tr>
                </tbody>
              </table>
              <mat-card *ngIf="!congesValides"
                        style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner
                  color="accent"
                  mode="indeterminate">
                </mat-progress-spinner>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
    </div>
  </mat-tab>
  <mat-tab label="Planning des congés">
    <h1>Planning des Congés</h1>
    <table class="bordered mat-elevation-z8" style="margin: auto;margin-top: 2em;" id="planning">
      <thead>
      <tr>
        <th
          [colSpan]="getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear()).length+2">
          <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1)" style="border: none;"><mat-icon>arrow_left</mat-icon></button>{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}
          <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1)" style="border: none;"><mat-icon>arrow_right</mat-icon></button></th>

      </tr>
      <tr>
        <th colspan="2">Jour</th>
        <th
          *ngFor="let wd of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())">{{joursDeLaSemaine[wd.getDay()]}}</th>
      </tr>
      <tr>
        <th colspan="2">Nom Prénom</th>
        <th *ngFor="let d of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())">{{d.getDate()}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let u of users">
      <tr>
        <td rowSpan="2">{{u.nom}} {{u.prenom}}</td>
        <td>M</td>
        <td *ngFor="let m of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" [ngStyle]="{backgroundColor: checkAskedMorningHolidays(m,u)?'green':''}"></td>
      </tr>
      <tr>
        <td>A.M</td>
        <td *ngFor="let j of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" [ngStyle]="{backgroundColor: checkAskedAfternoonHolidays(j,u)? 'green': ''}"></td>
      </tr>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>
