<h2>Congés demandés par les collaborateurs:</h2>
<mat-tab-group>
  <mat-tab label="Validation">
    <div style="display: flex;flex: available;justify-content: space-evenly;">
      <div style="margin-top: 2em;">
        <h3>Congés en attente de validation</h3>
        <table class="bordered mat-elevation-z8" id="enattente" style="margin: auto; ">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Trigramme</th>
            <th>Date</th>
            <th>Demi-journée</th>
            <th>Type de congé</th>
            <th>Validé RH</th>
            <th>Commentaires</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let conge of congesNonValides">
            <td>{{conge.user.nom}}</td>
            <td>{{conge.user.prenom}}</td>
            <td>{{conge.user.trigramme}}</td>
            <td>{{conge.date | date: 'short'}}</td>
            <td>{{conge.demiJournee ? 'oui' : 'non'}}</td>
            <td>{{conge.typeConge}}</td>
            <td>
              <button type="button" *ngIf="!conge.valideRH;else valid"
                      (click)="validateCongeRH(conge)" matTooltip="Valider le congé">
                <mat-icon>check_circle</mat-icon>
              </button>
              <button type="button" *ngIf="!conge.valideRH"
                      (click)="refuseCongeRH(conge)" matTooltip="Refuser la fiche">
                <mat-icon>close_circle</mat-icon>
              </button>
            </td>
            <td>{{conge.commentaires}}</td>
            <ng-template #valid>
              <mat-icon>ckeck</mat-icon>
            </ng-template>
          </tr>
          </tbody>
        </table>
        <mat-card *ngIf="!congesNonValides"
                  style="display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="accent"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
      </div>

      <div style="margin-top: 2em;">
        <h3>Congés validés</h3>
        <table class="bordered mat-elevation-z8" id="valide" style="margin: auto; ">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Trigramme</th>
            <th>Date</th>
            <th>Demi-journée</th>
            <th>Type de congé</th>
            <th>Validée RH</th>
            <th>Commentaires</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let conge of congesValides">
            <td>{{conge.user.nom}}</td>
            <td>{{conge.user.prenom}}</td>
            <td>{{conge.user.trigramme}}</td>
            <td>{{conge.date | date: 'short'}}</td>
            <td>{{conge.demiJournee ? 'oui' : 'non'}}</td>
            <td>{{conge.typeConge}}</td>
            <td>
              <mat-icon *ngIf="conge.valideRH; else unvalid">check</mat-icon>
            </td>
            <td>{{conge.commentaires}}</td>
            <ng-template #unvalid>
              <mat-icon>close</mat-icon>
            </ng-template>
          </tr>
          </tbody>
        </table>
        <mat-card *ngIf="!congesValides"
                  style="display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="accent"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Planning des congés">
    <h1>Planning des Congés</h1>
    <table class="bordered mat-elevation-z8" style="margin: auto;margin-top: 2em;" id="planning">
      <thead>
      <tr>
        <th
          [colSpan]="getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear()).length+2">
          <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1)" style="border: none;"><mat-icon>arrow_left</mat-icon></button>{{nomsDesMois[dateNow.getMonth()]}} {{dateNow.getFullYear()}}
          <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1)" style="border: none;"><mat-icon>arrow_right</mat-icon></button></th>

      </tr>
      <tr>
        <th colspan="2">Jour</th>
        <th
          *ngFor="let wd of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())">{{joursDeLaSemaine[wd.getDay()]}}</th>
      </tr>
      <tr>
        <th colspan="2">Nom Prénom</th>
        <th *ngFor="let d of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())">{{d.getDate()}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let u of users">
      <tr>
        <td rowSpan="2">{{u.nom}} {{u.prenom}}</td>
        <td>M</td>
        <td *ngFor="let m of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" [ngStyle]="{backgroundColor: checkAskedMorningHolidays(m,u)?'green':''}"></td>
      </tr>
      <tr>
        <td>A.M</td>
        <td *ngFor="let j of getDaysInMonth(dateNow.getMonth(),dateNow.getFullYear())" [ngStyle]="{backgroundColor: checkAskedAfternoonHolidays(j,u)? 'green': ''}"></td>
      </tr>
      </tbody>
    </table>

  </mat-tab>
</mat-tab-group>
