<td>{{ user.email }}</td>
<td>{{ user.nom }}</td>
<td>{{ user.prenom }}</td>
<td [ngStyle]="{'color':user.role=='ADMIN'?'red':''}">{{ user.role == 'USER'?'UTILISATEUR':'ADMIN'}}</td>
<td>{{ user.fonction }}</td>
<td>{{ user.cpNMoins1 | number: '1.2-2' }}</td>
<td>{{ user.cpN | number: '1.2-2' }}</td>
<td>{{ user.rttn | number: '1.2-2' }}</td>
<td>{{ user.congeAnciennete | number: '1.2-2' }}</td>
<td>{{ user.dateInscription | date: 'dd/MM/yyyy, HH:mm' }}</td>
<td>
  <a [routerLink]="['/users/', user.id]">Détail</a></td>
<td><a *ngIf="currentUser.role=='ADMIN'" [routerLink]="['/edit_user/', user.id]">Modifier</a></td>
<td>
  <button *ngIf="currentUser.role=='ADMIN'" type="button"
          (click)="deleteUser()"><i class="material-icons">delete</i></button>
</td>

