<h2>Missions:</h2>
<a *ngIf="this.currentUser.role == 'ADMIN'" class="right btn-floating btn-large waves-effect waves-light scale-transition" routerLink="/add_missions"><i
  class="material-icons">add</i></a>
<table class="bordered mat-elevation-z8" >
  <thead>
  <tr>
    <th>Mission</th>
    <th>Client</th>
    <th>Date de publication</th>
    <th>Durée</th>
    <th>Description</th>
    <th>Détails</th>
    <th *ngIf="currentUser.role=='ADMIN'">Éditer</th>
    <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
    <th>Intérêt</th>
    <th *ngIf="currentUser.role=='ADMIN'">Archiver</th>
  </tr>
  </thead>
  <tbody>
  <tr app-mission-item *ngFor="let mission of missions"
      [ngStyle]="{'background-color':!mission.lu?'#fbb900':''}"
      [mission]="mission"
      [hidden]="mission.status == 0"
      (missionSelected)="addMissionToList($event)"
      (missionToDeleteInList)="deleteMissionFromList($event)"
      (missionDeleted)="deleteMission($event)"
      (missionToArchive)="toggleArchiveMission($event)">
  </tr>
  </tbody>
</table>
<div style="margin-top: 15px;">
  <button (click)="toggleArchivesClick()" *ngIf="currentUser.role=='ADMIN'"><span *ngIf="toggleArchives">Afficher les missions archivées</span><span *ngIf="!toggleArchives">Cacher les missions archivées</span></button>
</div>
<table class="bordered mat-elevation-z8" [hidden]="toggleArchives">
  <thead>
  <tr>
    <th>Mission</th>
    <th>Client</th>
    <th>Date de publication</th>
    <th>Durée</th>
    <th>Description</th>
    <th>Détails</th>
    <th *ngIf="currentUser.role=='ADMIN'">Éditer</th>
    <th *ngIf="currentUser.role=='ADMIN'">Supprimer</th>
    <th></th>
    <th *ngIf="currentUser.role=='ADMIN'">Sortir des archives</th>
  </tr>
  </thead>
  <tbody>
  <tr app-mission-item *ngFor="let mission of archivedMission"
      [ngStyle]="{'background-color':!mission.lu?'#fbb900':''}"
      [mission]="mission"
      [hidden]="toggleArchives"
      (missionSelected)="addMissionToList($event)"
      (missionToDeleteInList)="deleteMissionFromList($event)"
      (missionDeleted)="deleteMission($event)"
      (missionToArchive)="toggleArchiveMission($event)">
  </tr>
  </tbody>
</table>
<mat-card *ngIf="!missions"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
