
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-calendar-body-cell-content:hover{
  background-color: orange !important;
  color: black !important;
}
input{
  margin:auto!important;
}
table{
  padding: 1em;
}
.selectedCell {
  background-color: orange !important;
  color: black !important;
}

button.next, button.previous {
  display: none!important;
}

mat-form-field{
  margin-bottom: -1em!important;
}

md-input-container{
  margin-bottom: -1em!important;
}
::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}


/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}

.mat-paginator-icon {
  color: gray!important;
}
