<mat-card *ngIf="!loading">
  <mat-card-title>Publier une actualité</mat-card-title>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field hidden>
          <input matInput disabled formControlName="id" placeholder="id" name="id"  id="id">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="titre" placeholder="Titre" name="titre"  id="titre">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contenu de l'article</mat-label>
        <textarea matInput formControlName="contenu" placeholder="Veuillez écrire votre actualité dans ce cadre..."
                  name="contenu" id="contenu"></textarea>
        </mat-form-field>
        <input-file *ngIf="currentUser.role=='ADMIN'" placeholder="Insérer une image..." fileAccept="image/*" [(ngModel)]="selectedFiles" (ngModelChange)="handleFile(newsitem)" (deletedFile)="removeImage($event)" [ngModelOptions]="{standalone: true}" fileLimit="99" sizeLimit="40"></input-file>
        <div>(Maximum 40Mo)</div>
        <mat-checkbox formControlName="isAvatar" name="isAvatar" id="isAvatar" [checked]="newsitem.avatar" (change)="newsitem.avatar = $event.checked.valueOf()">Cette image est un avatar</mat-checkbox>
        <mat-checkbox formControlName="isPublic" name="isPublic" id="isPublic" [checked]="newsitem.public" (change)="newsitem.public = $event.checked.valueOf()">Rendre cette publication publique ?</mat-checkbox>
        <mat-card-actions fxFlexAlign="center">
          <button mat-icon-button routerLink="/news">RETOUR <mat-icon>arrow_back</mat-icon></button>
          <button mat-button [disabled]="!fileValid">Publier</button>
        </mat-card-actions>
      </div>
      </mat-card-content>
    </form>
</mat-card>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    *ngIf="loading"
    color="accent"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
