#planning tr, #planning td, #planning th {
  border: black solid;
}

td {
  width: 1.5em;
  height: 1.5em;
}

th {
  padding: 1em;
}

.mat-button {
  color: black;
  font-size: 2em;
}

.mat-button:hover {
  background: cornflowerblue;
}


.mat-icon-button {
  color: black;
  margin: 1em;
}
