<mat-tab-group>-->
  <mat-tab label="Congés validés">
  <mat-form-field>
    <span class="prefix" matPrefix style="padding: 2em;">Selectionnez un collaborateur </span>
    <mat-select [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}" (ngModelChange)="getValidatedConges()" placeholder="Liste des collaborateurs">
      <mat-option [value]="null">Tous les utilisateurs</mat-option>
      <mat-option *ngFor="let u of users" [value]=u>{{u.prenom}} {{u.nom}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="margin-top: 2em;">
    <h3>Congés validés</h3>
    <div style="display: flex;justify-content: center;">
      <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()-1);congesValides = [];getValidatedConges();" style="border: none;"><mat-icon style="color: black">chevron_left</mat-icon></button><h3 style="text-align: center">{{changeCaseFirstLetter(nomsDesMois[dateNow.getMonth()])}} {{dateNow.getFullYear()}}</h3>
      <button mat-button (click)="dateNow.setMonth(dateNow.getMonth()+1);congesValides = [];getValidatedConges();" style="border: none;"><mat-icon style="color: black">chevron_right</mat-icon></button>
    </div>
    <table class="bordered mat-elevation-z8" id="valide" style="margin: auto;margin-bottom: 1em; " *ngIf="!loading">
      <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Trigramme</th>
        <th>Date</th>
        <th>Demi-journée</th>
        <th>Type de congé</th>
        <th>Validée RH</th>
        <th>Commentaires</th>
        <th>Justificatif reçu</th>
        <th>Supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conge of congesValides">
        <td>{{conge.user.prenom}}</td>
        <td>{{conge.user.nom}}</td>
        <td>{{conge.user.trigramme}}</td>
        <td>{{conge.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{conge.demiJournee ? 'oui' : 'non'}}</td>
        <td>{{conge.typeConge}}</td>
        <td>
          <mat-icon *ngIf="conge.valideRH; else unvalid">check</mat-icon>
        </td>
        <td>{{conge.commentaires}}</td>
        <td><mat-checkbox [(ngModel)]="conge.justificatifRecu" *ngIf="conge.typeConge == 'Absence Exceptionnelle'" (change)="updateModel(conge)"></mat-checkbox><span *ngIf="conge.typeConge != 'Absence Exceptionnelle'"> - </span></td>
        <td>
          <button mat-icon-button
                  (click)="supprimerConge(conge)" matTooltip="Supprimer le congé">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <ng-template #unvalid>
          <mat-icon>close</mat-icon>
        </ng-template>
      </tr>
      </tbody>
    </table>
    <mat-progress-spinner
      *ngIf="loading"
      color="accent"
      mode="indeterminate" style="margin: auto">
    </mat-progress-spinner>
  </div>
  </mat-tab>
  <mat-tab label="Justificatifs d'absences">
    <div style="margin-top: 2em;">
      <h3>Justificatifs reçus</h3>
      <div style="display: flex;justify-content: center;">
        <button mat-button (click)="dateNowFile.setFullYear(dateNowFile.getFullYear()-1);getCongesWithFile();" style="border: none;"><mat-icon style="color: black">chevron_left</mat-icon></button><h3 style="text-align: center;font-weight: bold">{{dateNowFile.getFullYear()}}</h3>
        <button mat-button (click)="dateNowFile.setFullYear(dateNowFile.getFullYear()+1);getCongesWithFile();" style="border: none;"><mat-icon style="color: black">chevron_right</mat-icon></button>
      </div>
      <table class="bordered mat-elevation-z8" style="margin: auto;margin-bottom: 1em;" *ngIf="!loading">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Trigramme</th>
          <th>Validée RH</th>
          <th>Commentaires</th>
          <th>Justificatif reçu</th>
          <th>Mois</th>
          <th>Type d'absence</th>
          <th>Télécharger</th>
<!--          <th>Visualiser</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let conge of congesWithFile">
          <td>{{conge.user.nom}}</td>
          <td>{{conge.user.prenom}}</td>
          <td>{{conge.user.trigramme}}</td>
          <td>
            <mat-icon *ngIf="conge.valideRH; else unvalid">check</mat-icon>
          </td>
          <td>{{conge.commentaires}}</td>
          <td><mat-checkbox [(ngModel)]="conge.justificatifRecu" (change)="updateModel(conge)"></mat-checkbox></td>
          <td>{{nomsDesMois[(conge.date | date:'MM')-1]}}</td>
          <td>{{conge.typeCe}}</td>
          <td>
            <button type="button"
                    (click)="downloadDocument(conge)"><i class="material-icons">file_download</i></button>
          </td>
<!--          <td>-->
<!--            <button type="button"-->
<!--                    (click)="openDocument(conge)"><i class="material-icons">remove_red_eye</i></button>-->
<!--          </td>-->
          <ng-template #unvalid>
            <mat-icon>close</mat-icon>
          </ng-template>
        </tr>
        </tbody>
      </table>
      <mat-progress-spinner
        *ngIf="loading"
        color="accent"
        mode="indeterminate" style="margin: auto">
      </mat-progress-spinner>
    </div>
  </mat-tab>
</mat-tab-group>
